<template>
  <div>
    <div align="center" class="text-grey-7 text-h6 text-weight-bold">
      Más Información
    </div>
    <div class="q-pa-md text-weight-bold text-subtitle2">
      <q-list
        highlight
        separator
        class="text-weight-bold rounded-borders"
        bordered
      >
        <div v-if="more.type_solicitud == 'prestamos'">
          <q-item>
            <q-item-section>Fecha de generación:</q-item-section>
            <q-item-section side>
              {{ this.$moment(more.created_at).format("YYYY-MM-DD") }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Empleado:</q-item-section>
            <q-item-section side>
              {{ more.employee_label }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Monto:</q-item-section>
            <q-item-section side> ${{ more.amount }} </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Mótivo:</q-item-section>
            <q-item-section side>
              {{ more.motivo }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Cuotas:</q-item-section>
            <q-item-section side>
              {{ more.dues }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Fecha de solicitud:</q-item-section>
            <q-item-section side>
              {{ this.$moment(more.date).format("YYYY-MM-DD") }}
            </q-item-section>
          </q-item>
        </div>
        <div v-if="more.type_solicitud == 'anticipos'">
          <q-item>
            <q-item-section>Fecha de generación:</q-item-section>
            <q-item-section side>
              {{ this.$moment(more.created_at).format("YYYY-MM-DD") }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Empleado:</q-item-section>
            <q-item-section side>
              {{ more.employee_label }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Monto:</q-item-section>
            <q-item-section side> ${{ more.amount }} </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Fecha de solicitud:</q-item-section>
            <q-item-section side>
              {{ this.$moment(more.date).format("YYYY-MM-DD") }}
            </q-item-section>
          </q-item>
        </div>
        <div v-if="more.type_solicitud == 'permisos'">
          <q-item>
            <q-item-section>Fecha de generación:</q-item-section>
            <q-item-section side>
              {{ this.$moment(more.created_at).format("YYYY-MM-DD") }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Empleado:</q-item-section>
            <q-item-section side>
              {{ more.employee_label }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Solicitud:</q-item-section>
            <q-item-section side>
              {{
                tipos_permisos.find((v) => v.value === more.solicitud).label ||
                "Sin Solicitud"
              }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Mótivo:</q-item-section>
            <q-item-section side>
              {{
                !options.find((v) => v.value === more.motivo)
                  ? "Sin Motivo"
                  : options.find((v) => v.value === more.motivo).label
              }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Fecha de incio:</q-item-section>
            <q-item-section side>
              {{ this.$moment(more.incio).format("YYYY-MM-DD") }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Fecha de finalización:</q-item-section>
            <q-item-section side>
              {{ this.$moment(more.fin).format("YYYY-MM-DD") }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Días:</q-item-section>
            <q-item-section side>
              {{ more.dias || 0 }}
            </q-item-section>
          </q-item>
        </div>
        <div v-if="more.type_solicitud == 'vacaciones'">
          <q-item>
            <q-item-section>Fecha de generación:</q-item-section>
            <q-item-section side>
              {{ this.$moment(more.created_at).format("YYYY-MM-DD") }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Empleado:</q-item-section>
            <q-item-section side>
              {{ more.employee_label }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Tipo de generación:</q-item-section>
            <q-item-section side>
              {{
                tipos_vacaciones.find((v) => v.value === more.mode).label ||
                "Sin Solicitud"
              }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Periodo:</q-item-section>
            <q-item-section side>
              {{ more.periodo }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Inicio:</q-item-section>
            <q-item-section side>
              {{ $moment(more.start).format("YYYY-MM-DD") }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Días:</q-item-section>
            <q-item-section side>
              {{ more.days }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Valor:</q-item-section>
            <q-item-section side>
              ${{ Number.parseFloat(more.valor).toFixed(2) || 0 }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Días Adicionales:</q-item-section>
            <q-item-section side>
              {{ more.days_adicionales || 0 }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Valor adicional:</q-item-section>
            <q-item-section side>
              ${{
                more.valor_adicional
                  ? Number.parseFloat(more.valor_adicional).toFixed(2)
                  : 0
              }}
            </q-item-section>
          </q-item>
        </div>
      </q-list>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "VerMas",
  data() {
    return {
      options: [],
      tipos_vacaciones: [
        {
          label: "Normal",
          value: "norm",
        },
        {
          label: "Solo descontar días",
          value: "days",
        },
        {
          label: "Solo descontar pago",
          value: "pago",
        },
        {
          label: "Vacaciones Pagadas",
          value: "pagadas",
        },
        {
          label: "Anticipadas normal",
          value: "normal",
        },
        {
          label: "Anticipadas solo  pago",
          value: "pago",
        },
        {
          label: "Normal",
          value: "norm_adicional",
        },
        {
          label: "Pagados y Descontados",
          value: "pago_descuento_adicional",
        },
        {
          label: "Descontar Días",
          value: "days_adicional",
        },
        {
          label: "Descontar Pago",
          value: "pago_adicional",
        },
      ],
    };
  },
  props: {
    value: [],
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
    more: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
    tipos_permisos() {
      return [
        {
          label: "Permisos - Licencias Médicas y Otros",
          value: "permiso-medico",
        },
        {
          label: "Permiso de Paternidad",
          value: "permiso-paternidad",
        },
        {
          label: "Permiso de Maternidad",
          value: "permiso-maternidad",
        },
        {
          label: "Otros permisos",
          value: "permiso-otros",
        },
      ];
    },
  },
  methods: {
    async getMotivos() {
      const tipos_partos = [
        {
          label: "Normal",
          value: "Normal",
        },
        {
          label: "Cesárea",
          value: "Cesárea",
        },
        {
          label: "Prematuro",
          value: "Prematuro",
        },
        {
          label: "Adopción",
          value: "Adopción",
        },
      ];
      let medicos = [];
      let otros = [];
      await this.$api
        .post("permisos/motivos-permisos-medicos", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            medicos = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
          }
        });
      await this.$api
        .post("permisos/motivos-permisos-otros", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            otros = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
            otros.push({
              label: "Licencia sin sueldo",
              value: "lic_sin_sueldo",
            });
          }
        });

      this.options = [...tipos_partos, ...medicos, ...otros];
    },
  },
  async mounted() {
    await this.getMotivos();
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
