<template>
  <q-page class="q-pa-md">
    <div class="my-title q-mb-lg">
      <q-btn label="Volver" outline color="n360" to="/panel" />
    </div>
    <div>
      <q-card class="q-pa-md">
        <q-card-section class="my-title text-h5 text-center"
          >Datos de la Empresa</q-card-section
        >
        <q-card-section align="center">
          <div style="width: 250px">
            <q-input
              label="Nombre de la empresa"
              color="n360"
              lazy-rules
              :rules="[(val) => !!val || '* Requerido', ,]"
              ref="name"
              v-model="form.name"
            />
          </div>
          <div style="width: 250px">
            <q-input
              label="Correo del administrador"
              color="n360"
              type="email"
              lazy-rules
              :rules="[(val) => !!val || '* Requerido', ,]"
              ref="email"
              v-model="form.email"
            />
          </div>
          <div style="width: 250px">
            <q-input
              label="Contraseña del administrador"
              color="n360"
              :type="isPwd ? 'password' : 'text'"
              lazy-rules
              :rules="[(val) => !!val || '* Requerido', ,]"
              ref="password"
              v-model="form.password"
            >
              <template v-slot:append v-if="!id">
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
          </div>
          <div style="width: 250px">
            <q-input
              label="API Url"
              color="n360"
              v-model="form.apiUrl"
              lazy-rules
              :rules="[(val) => !!val || '* Requerido', ,]"
              ref="apiUrl"
            />
          </div>
        </q-card-section>

        <q-card-section align="center">
          <q-btn
            outline
            color="n360"
            label="Guardar"
            @click="save"
            style="width: 250px"
            :loading="loading"
          />
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "CrearMobile",
  components: {},
  data() {
    return {
      data: [],
      form: {},
      email_aux: null,
      password_aux: null,
      id: null,

      isPwd: true,
      loading: false,
    };
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user"]),
  },
  methods: {
    async save() {
      const validate = this.validateForms();
      if (!validate)
        return this.$q.notify({
          message: "Todos los campos son requeridos",
          color: "negative",
        });

      const validate_password_security = this.validatePassword(
        this.form.password
      );
      if (!validate_password_security)
        return this.$q.notify({
          message:
            "La contraseña ingresada no es segura. Por favor asegurese de que la contraseña contenga al menos una mayúscula, una minúscula, un número y un simbolo especial",
          color: "negative",
        });

      this.loading = true;
      if (this.id) {
        await this.update();
      } else {
        await this.create();
      }
    },
    create() {
      try {
        this.$api
          .post("companies/create", this.form)
          .then((v) => {
            this.loading = false;
            this.$q.notify({
              message: "Empresa creada con exito !",
              type: "positive",
            });
            this.$router.push("/panel");
          })
          .catch((error) => {
            this.loading = false;

            this.$q.notify({
              message: error,
              type: "negative",
            });
          });
      } catch (error) {
        this.loading = false;
        return this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    update() {
      try {
        // VALIDAR SI HAY CAMBIO EN EL CORREO O CONTRASEÑA
        let new_email = false;
        let new_password = false;
        if (this.form.email !== this.email_aux) new_email = true;
        if (this.form.password !== this.password_aux) new_password = true;

        this.$api
          .post("companies/update", {
            ...this.form,
            new_email: new_email,
            new_password: new_password,
          })
          .then((v) => {
            this.loading = false;
            this.$q.notify({
              message: "Empresa actualizada con exito !",
              type: "positive",
            });
            this.$router.push("/panel");
          })
          .catch((error) => {
            this.loading = false;

            this.$q.notify({
              message: error,
              type: "negative",
            });
          });
      } catch (error) {
        this.loading = false;
        return this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    validateForms() {
      this.$refs.name.validate();
      this.$refs.email.validate();
      this.$refs.password.validate();
      this.$refs.apiUrl.validate();
      if (
        this.$refs.name.hasError ||
        this.$refs.email.hasError ||
        this.$refs.password.hasError ||
        this.$refs.apiUrl.hasError
      ) {
        return false;
      } else {
        return true;
      }
    },
    validatePassword(password) {
      let level = 0;
      level += password.length > 8 ? 1 : 0;
      level += /[!@#$%^&*?_~]/.test(password) ? 1 : 0;
      level += /[a-z]/.test(password) ? 1 : 0;
      level += /[A-Z]/.test(password) ? 1 : 0;
      level += /[0-9]/.test(password) ? 1 : 0;
      return level >= 5;
    },
    getDoc() {
      this.$api
        .post("companies/get_one", {
          _id: this.id,
        })
        .then((v) => {
          this.form = v.data;
          this.email_aux = v.data.email;
          this.password_aux = v.data.password;
        });
    },
  },
  async mounted() {
    if (this.$route.params.id) {
      this.id = this.$route.params.id;
      await this.getDoc();
    }
  },
};
</script>
