<template>
  <div>
    <!-- MOBILE -->
    <solicitar-mobile v-if="$q.platform.is.mobile" />

    <!-- DESKTOP -->
    <solicitar-desktop v-if="$q.platform.is.desktop" />
  </div>
</template>

<script>
import SolicitarMobile from "src/pages/Mobile/Vacaciones/SolicitarMobile.vue";
import SolicitarDesktop from "src/pages/Desktop/Vacaciones/SolicitarDesktop.vue";

export default {
  name: "Solicitar",
  components: {
    SolicitarMobile,
    SolicitarDesktop,
  },
  data() {
    return {};
  },
};
</script>
