<template>
  <q-page class="q-pa-sm">
    <div class="bg-white">
      <div class="q-pa-md">
        <q-btn @click="solicitar" label="Solicitar" class="btn-n360 my-title" />
      </div>
      <div class="text-weight-bold text-h6 text-grey-6 my-title text-center">
        Aprobador de Departamento ({{ mi_aprobador }})
      </div>
      <div class="row items-center q-gutter-x-md q-pa-md my-body">
        <div style="width: 300px">
          <q-select
            ref="solicitud"
            v-model="form.solicitud"
            label="Tipo de Solicitud"
            color="n360"
            :options="tipos_permisos"
            emit-value
            map-options
            :rules="[(val) => !!val || '* Requerido', ,]"
            @input="changeOptions(form.solicitud)"
          />
        </div>
        <div style="width: 300px" v-if="form.solicitud !== 'permiso-maternidad'">
          <q-select
            ref="motivo"
            v-model="form.motivo"
            label="Motivo"
            color="n360"
            :options="options"
            emit-value
            map-options
            :rules="[(val) => !!val || '* Requerido', ,]"
            @input="validar"
          />
        </div>
        <div style="width: 300px" @click="dialog_date = true">
          <q-input
            ref="inicio"
            label="Fecha Inicio de Permiso"
            v-model="form.inicio"
            color="n360"
            readonly
            :rules="[(val) => !!val || '* Requerido', ,]"
          >
            <template v-slot:prepend>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  cover
                  transition-show="scale"
                  transition-hide="scale"
                  v-model="dialog_date"
                >
                  <q-date
                    v-model="form.inicio"
                    mask="YYYY-MM-DD"
                    color="n360"
                    @input="validar"
                  >
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="cerrar" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div style="width: 300px" @click="dialog_date2 = true">
          <q-input
            ref="fin"
            label="Fecha de Finalización de Permiso"
            v-model="form.fin"
            color="n360"
            readonly
            :input="calcDias()"
          >
            <template v-slot:prepend>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  cover
                  transition-show="scale"
                  transition-hide="scale"
                  v-model="dialog_date2"
                >
                  <q-date
                    v-model="form.fin"
                    mask="YYYY-MM-DD"
                    color="n360"
                    :readonly="form.solicitud == 'permiso-paternidad'"
                    :disable="form.solicitud == 'permiso-paternidad'"
                  >
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="cerrar" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div
          style="width: 300px"
          v-if="
            form.solicitud == 'permiso-medico' ||
            form.solicitud == 'permiso-otros'
          "
        >
          <q-input
            ref="dias"
            v-model="form.dias"
            label="Dias"
            color="n360"
            type="number"
            readonly
            :disable="
              form.solicitud == 'permiso-medico' ||
              form.solicitud == 'permiso-otros'
            "
          />
        </div>
        <div style="width: 300px" class="q-pt-md">
          <q-list bordered class="rounded-borders">
            <q-expansion-item
              expand-separator
              dense
              dense-toggle
              icon="upload"
              label="Cargar comprobante"
              header-class="text-n360"
            >
              <q-card>
                <q-card-section>
                  <q-uploader
                    v-if="!form.file"
                    class="text-left"
                    color="purple-10"
                    style="max-width: 270px; color: #7a2ddb"
                    label="Archivo"
                    @added="getRuta"
                    @removed="(file = null), (file_ = false)"
                    accept=".jpg, .jpeg, .png, .pdf, image/*"
                    :readonly="file_"
                  />
                  <div v-else class="my-title text-center">
                    <p>Eliminar comprobante y recargar</p>
                    <q-btn
                      label="Eliminar"
                      color="n360"
                      outline
                      @click="removeFile(form.file)"
                    />
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "SolicitarDesktop",
  data() {
    return {
      form: {},
      mi_aprobador: null,

      // OPTIONS SELECTS
      tipos_partos: [
        {
          label: "Normal",
          value: "Normal",
        },
        {
          label: "Cesárea",
          value: "Cesárea",
        },
        {
          label: "Prematuro",
          value: "Prematuro",
        },
        {
          label: "Adopción",
          value: "Adopción",
        },
      ],
      medicos: [],
      otros: [],
      options: [],

      maternidad: "",

      file: null,
      file_: false,
      collection: null,
      role: null,
      dialog_date: false,
      dialog_date2: false,
    };
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
    tipos_permisos() {
      if (this.user.data.hasOwnProperty("sex") && this.user.data.sex == "m") {
        return [
          {
            label: "Permisos - Licencias Médicas y Otros",
            value: "permiso-medico",
          },

          {
            label: "Permiso de Paternidad",
            value: "permiso-paternidad",
          },
          {
            label: "Otros permisos",
            value: "permiso-otros",
          },
        ];
      }
      if (this.user.data.hasOwnProperty("sex") && this.user.data.sex == "f") {
        return [
          {
            label: "Permisos - Licencias Médicas y Otros",
            value: "permiso-medico",
          },
          {
            label: "Permiso de Maternidad",
            value: "permiso-maternidad",
          },
          {
            label: "Otros permisos",
            value: "permiso-otros",
          },
        ];
      } else {
        return [
          {
            label: "Permisos - Licencias Médicas y Otros",
            value: "permiso-medico",
          },
          {
            label: "Permiso de Paternidad",
            value: "permiso-paternidad",
          },
          {
            label: "Permiso de Maternidad",
            value: "permiso-maternidad",
          },
          {
            label: "Otros permisos",
            value: "permiso-otros",
          },
        ];
      }
    },
  },
  methods: {
    async solicitar() {
      this.$refs.solicitud.validate();
      if(this.form.solicitud !== 'permiso-maternidad') this.$refs.motivo.validate();
      this.$refs.inicio.validate();

      const validate_motivo = this.form.solicitud !== 'permiso-maternidad' ? this.$refs.motivo.hasError : false
      if (
        this.$refs.solicitud.hasError ||
        validate_motivo ||
        this.$refs.inicio.hasError
      ) {
        return this.$q.notify({
          message: "Campos requeridos",
          color: "negative",
        });
      }

      this.$q.loading.show();

      // SUBIR ARCHIVO
      let find_file = false;
      if (this.file) {
        const route = await this.uploadFile();
        this.form["file"] = route;
        this.file = null;
        this.file_ = false;
        find_file = true;
      }

      if (!this.form._id) this.form.employee = this.user._id;

      this.form.inicio = this.$moment(this.form.inicio)
      this.form.fin = this.$moment(this.form.fin)
      await this.$api
        .post("permisos/solicitar", {
          user: this.user,
          url: this.company.apiUrl,
          company: this.user.data.__company__,
          parent_company: this.user.data.parent_company,
          data: this.form,
          file: find_file,
        })
        .then((val) => {
          this.form = {};
          this.$q.notify({
            message: "Permiso solicitado con exito",
            color: "positive",
          });
          this.$q.loading.hide();
          if (this.$route.params.id) this.$router.push("/mis-permisos/lista");
        })
        .catch((error) => {
          this.$q.notify({
            message: error,
            color: "negative",
          });
          this.$q.loading.hide();
        });
    },
    changeOptions(val) {
      if (val == "permiso-paternidad") this.options = this.tipos_partos;
      if (val == "permiso-medico") this.options = this.medicos;
      if (val == "permiso-otros") this.options = this.otros;
      if (val == "permiso-maternidad") this.validar()
      if (!val) this.options = [];
    },
    async getMotivos() {
      await this.$api
        .post("permisos/motivos-permisos-medicos", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            this.medicos = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
          }
        });
      await this.$api
        .post("permisos/motivos-permisos-otros", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            this.otros = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
            this.otros.push({
              label: "Licencia sin sueldo",
              value: "lic_sin_sueldo",
            });
          }
        });
    },
    validar() {
      if (this.form.inicio != "") {
        if (this.form.solicitud == "permiso-maternidad") {
          this.form.fin = this.$moment(this.form.inicio)
            .add(this.maternidad.dias_maternidad - 1, "d")
            .format("YYYY-MM-DD");
          this.form.dias = this.maternidad.dias_maternidad - 1;
        }
        if (this.form.solicitud == "permiso-paternidad") {
          switch (this.form.motivo) {
            case "Normal":
              this.$set(
                this.form,
                "fin",
                this.$moment(this.form.inicio).add(9, "d").format("YYYY-MM-DD")
              );
              this.form.dias = 10;
              break;
            case "Cesárea":
              this.$set(
                this.form,
                "fin",
                this.$moment(this.form.inicio).add(14, "d").format("YYYY-MM-DD")
              );
              this.form.dias = 15;
              break;
            case "Prematuro":
              this.$set(
                this.form,
                "fin",
                this.$moment(this.form.inicio).add(17, "d").format("YYYY-MM-DD")
              );
              this.form.dias = 18;
              break;
            case "Adopción":
              this.$set(
                this.form,
                "fin",
                this.$moment(this.form.inicio).add(14, "d").format("YYYY-MM-DD")
              );
              this.form.dias = 15;
              break;
            default:
              break;
          }
        }
      }
    },
    calcDias() {

      if(this.form.fin && this.form.inicio)
        this.form.dias = this.$moment(this.form.fin).diff(this.form.inicio, "days") + 1;

      let date = this.$moment(this.form.inicio);

      if (
        this.form.solicitud === "permiso-medico" &&
        this.form.fin &&
        this.form.inicio &&
        this.form.inicio < this.form.fin
      ) {
        while (
          date.format("YYYY-MM") < this.$moment(this.form.fin).format("YYYY-MM")
        ) {
          this.form.dias -= date.clone().endOf("month").date() - 30;
          date.add(1, "month");
        }
      }

      if (this.form.dias == 0) this.form.dias = 1;
    },
    async getDoc() {
      if (this.$route.params.id) {
        this.collection = String(this.$route.params.id).replace("+", "/");
        const res = await this.$api.post("permisos/get-permiso", {
          collection: this.collection,
          url: this.company.apiUrl,
          company: this.user.data.__company__,
          parent_company: this.user.data.parent_company,
        });
        this.form = res.data;
      }
    },
    async getRuta(ruta) {
      this.file = ruta;
      this.file_ = true;
    },
    async uploadFile() {
      let route = null;
      await this.$files(
        "/permisos/upload-file",
        "comprobantes-permisos/" + this.file[0].name,
        { company: this.user.data.__company__, user: this.user.data._id }
      )
        .put(this.file[0])
        .then(async (ruta) => {
          route = ruta;
        })
        .catch((e) => {
          this.$q.loading.hide();
          this.$q.notify({
            message: "hubo un error al cargar el archivo",
            color: "negative",
          });
        });

      return route;
    },
    async removeFile(file) {
      this.$q
        .dialog({
          title: "Eliminar",
          message: "¿Está seguro de eliminar el comprobante?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          this.$api
            .post("permisos/remove-file", {
              file: file,
              collection: this.collection,
              url: this.company.apiUrl,
              company: this.user.data.__company__,
              parent_company: this.user.data.parent_company,
              data: this.form,
            })
            .then(async (v) => {
              await this.getDoc();
            });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
    async getRole() {
      await this.$api
        .post("permisos/ultimo-rol", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          this.role = v.data;
        });
      this.setDate()
    },
    setDate() {
      const fecha_rol = this.$moment(this.role.fecha_rol).format('YYYY/MM/DD')
      this.min = this.$moment(fecha_rol).startOf('month').format('YYYY/MM/DD')
    }
  },
  async mounted() {
    await this.getMotivos();
    await this.$api
      .post("permisos/maternidad-paternidad", {
        url: this.company.apiUrl,
        company: this.user.data.__company__,
      })
      .then((v) => {
        if (v.data) {
          this.maternidad = v.data;
        }
      });

    await this.getDoc();
    this.changeOptions(this.form.solicitud)
    await this.$api
      .post("permisos/mi-aprobador", {
        user: this.user.data._id,
        url: this.company.apiUrl,
        company: this.user.data.__company__,
      })
      .then((val) => {
        this.mi_aprobador = val.data;
      });
    await this.getRole()
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
