<template>
  <q-layout view="lHh Lpr lFf" class="bg-grey-2">
    <q-header class="bg-white q-py-md">
      <div class="row justify-between q-mx-md">
        <div class="row q-gutter-x-sm items-center">
          <q-avatar
            :icon="$route.meta.icon"
            text-color="white"
            rounded
            size="lg"
            class="bg-purple-n360"
          />
          <div class="text-grey text-weight-bold my-title">
            {{ $route.meta.name }}
          </div>
        </div>
        >
        <q-btn
          flat
          icon="menu"
          dense
          style="color: #7a2ddb"
          @click="OpenDrawer = !OpenDrawer"
        />
      </div>
    </q-header>
    <q-drawer v-model="OpenDrawer" side="right">
      <q-scroll-area
        style="
          height: calc(100% - 150px);
          margin-top: 150px;
          border-right: 1px solid #ddd;
        "
        class="q-pt-xs"
      >
        <q-list>
          <Menu />
        </q-list>
      </q-scroll-area>

      <div class="absolute-top btn-purple-n360" style="height: 150px">
        <div class="float-right">
          <q-btn flat icon="menu" @click="OpenDrawer = !OpenDrawer" />
        </div>
        <div class="text-center q-mt-md">
          <q-avatar size="70px" class="q-mb-xs q-ml-xl">
            <img :src="MyPhoto" style="border: 3px solid #ffffff" />
            <q-badge floating color="positive" rounded />
          </q-avatar>
          <div class="text-weight-bold">
            {{ user.data.name }} {{ user.data.last_name }}
          </div>
          <div>
            {{ user.data.email_personal }}
          </div>
        </div>
      </div>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import Menu from "./Menu.vue";
import { mapState } from "vuex";

export default {
  name: "LayoutMobile",
  components: {
    Menu,
  },
  data() {
    return {
      OpenDrawer: false,
    };
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
    MyPhoto() {
      let photo = "";
      if (this.user.data.photo) {
        photo = this.company.apiUrl + "/" + this.user.data.photo;
      } else {
        if (this.user.data.hasOwnproperty("sex")) {
          if (this.user.data.sex == "m") photo = "/man.png";
          else photo = "/woman.png";
        }
      }
      return photo;
    },
  },
};
</script>

<style scoped>
.bg-purple-n360 {
  background: #7a2ddb;
}
.btn-purple-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
