<template>
  <div>
    <!-- MOBILE -->
    <login-mobile v-if="$q.platform.is.mobile" />

    <!-- DESKTOP -->
    <login-desktop v-if="$q.platform.is.desktop" />
  </div>
</template>

<script>
import LoginMobile from "src/layouts/Mobile/Login/LoginMobile.vue";
import LoginDesktop from "src/layouts/Desktop/Login/LoginDesktop.vue";

export default {
  name: "Login",
  components: {
    LoginMobile,
    LoginDesktop,
  },
  data() {
    return {};
  },
};
</script>
