<template>
  <div>
    <!-- MOBILE -->
    <layout-mobile v-if="$q.platform.is.mobile" />

    <!-- DESKTOP -->
    <layout-desktop v-if="$q.platform.is.desktop" />
  </div>
</template>

<script>
import LayoutMobile from "src/layouts/Mobile/Layout/LayoutMobile.vue";
import LayoutDesktop from "src/layouts/Desktop/Layout/LayoutDesktop.vue";

export default {
  name: "MainLayout",
  components: {
    LayoutMobile,
    LayoutDesktop,
  },
  data() {
    return {};
  },
};
</script>
