<template>
  <div>
    <div align="center" class="text-grey-7 text-h6 text-weight-bold">
      Historico
    </div>
    <div class="q-pa-md text-weight-bold text-subtitle2">
      <q-list
        bordered
        separator
        class="rounded-borders"
        v-for="(obj, index) in historico"
        :key="'A' + index"
      >
        <q-expansion-item
          expand-separator
          icon="visibility"
          :label="obj.motivo"
          :caption="obj.estatus_label"
        >
          <q-card>
            <q-card-section>
              <q-list highlight separator class="text-weight-bold">
                <q-item>
                  <q-item-section>Motivo:</q-item-section>
                  <q-item-section side>
                    {{ obj.motivo }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Monto:</q-item-section>
                  <q-item-section side> ${{ obj.amount }} </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Cuotas:</q-item-section>
                  <q-item-section side>
                    {{ obj.dues }}
                  </q-item-section>
                </q-item>
                <q-expansion-item label="Cuotas">
                  <div v-for="(cuota, index) in obj.cuotas" :key="index">
                    <q-expansion-item :label="'Cuota ' + (index + 1)">
                      <q-card>
                        <q-list bordered class="rounded-borders">
                          <q-item>
                            <q-item-section>Año:</q-item-section>
                            <q-item-section side>
                              {{ cuota.year }}
                            </q-item-section>
                          </q-item>
                          <q-item>
                            <q-item-section>Mes:</q-item-section>
                            <q-item-section side>
                              {{ cuota.month }}
                            </q-item-section>
                          </q-item>
                          <q-item>
                            <q-item-section>Rol:</q-item-section>
                            <q-item-section side>
                              {{
                                roles.find((v) => v._id == cuota.rol)
                                  ? roles.find((v) => v._id == cuota.rol).name
                                  : "Sin rol"
                              }}
                            </q-item-section>
                          </q-item>
                          <q-item>
                            <q-item-section>Monto:</q-item-section>
                            <q-item-section side>
                              {{ cuota.amount }}
                            </q-item-section>
                          </q-item>
                          <q-item>
                            <q-item-section>Interes:</q-item-section>
                            <q-item-section side>
                              {{ cuota.interest || 0 }}
                            </q-item-section>
                          </q-item>
                        </q-list>
                      </q-card>
                    </q-expansion-item>
                  </div>
                </q-expansion-item>
                <q-item>
                  <q-item-section>Fecha:</q-item-section>
                  <q-item-section side>
                    {{ $moment(obj.date).format("YYYY-MM-DD") }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Interest:</q-item-section>
                  <q-item-section side>
                    {{ obj.interest || 0 }} %
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section side>
                    {{ obj.estatus_label }}
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Historico",
  data() {
    return {
      roles: [],
    };
  },
  props: {
    value: [],
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
    historico: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
  },
  methods: {},
  async mounted() {
    await this.$api
      .post("prestamos/tipo-sueldo", {
        user: this.user.data._id,
        url: this.company.apiUrl,
        company: this.user.data.__company__,
      })
      .then((val) => {
        this.roles = val.data;
      });
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
