<template>
  <q-page class="bg-white">
    <q-tabs
      v-model="tab"
      dense
      class="text-grey-3 my-title text-weight-bolder bg-n360"
      align="justify"
      narrow-indicator
    >
      <q-tab
        name="activos"
        label="Activos"
        @click="listActivos('activo'), (filter = ''), (filter2 = '')"
      />
      <q-tab
        name="pagados"
        label="Pagados"
        @click="listActivos('pagado'), (filter = ''), (filter2 = '')"
      />
      <q-tab
        name="solicitados"
        label="Solicitados"
        @click="solicitados, (filter = ''), (filter2 = '')"
      />
    </q-tabs>
    <q-separator />
    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="activos" class="my-body q-pa-none">
        <q-virtual-scroll v-if="!loading_activos" :items="list">
          <template v-slot="{ item, index }">
            <q-item :key="index" clickable>
              <q-item-section v-if="item.search">
                <q-input
                  label="Buscar"
                  v-model="filter"
                  color="n360"
                  dense
                  borderless
                >
                  <template v-slot:append>
                    <q-icon name="search" color="n360" />
                  </template>
                </q-input>
              </q-item-section>
              <q-item-section v-if="!item.search" class="q-mt-xs">
                <q-item-label>MONTO APROBADO: ${{ item.amount }}</q-item-label>
                <q-item-label caption
                  >CUOTAS APROBADAS: {{ item.dues }}
                </q-item-label>
              </q-item-section>
              <q-item-section side v-if="!item.search">
                <div>
                  <q-btn color="n360" icon="more_vert" dense flat round>
                    <q-menu>
                      <q-list style="min-width: 100px">
                        <q-item
                          clickable
                          v-close-popup
                          @click="estadoPDF(item)"
                        >
                          <q-item-section>Estado de cuenta</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          clickable
                          v-close-popup
                          @click="historico(item._id)"
                        >
                          <q-item-section>Historico</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          v-if="item.file"
                          clickable
                          v-close-popup
                          @click="downloadFile(item.file, item.site)"
                        >
                          <q-item-section>Comprobante</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          clickable
                          v-close-popup
                          @click="verMas(item, 'activos_pagados')"
                        >
                          <q-item-section>Ver Más</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                </div>
              </q-item-section>
            </q-item>
            <q-separator inset />
          </template>
        </q-virtual-scroll>
        <div
          v-if="list.length <= 1"
          class="my-title text-grey-6 text-center text-subtitle1"
        >
          No se encontraron resultados
        </div>
      </q-tab-panel>

      <q-tab-panel name="pagados" class="my-body q-pa-none">
        <q-virtual-scroll v-if="!loading_activos" :items="list">
          <template v-slot="{ item, index }">
            <q-item :key="index" clickable>
              <q-item-section v-if="item.search">
                <q-input
                  label="Buscar"
                  v-model="filter"
                  color="n360"
                  dense
                  borderless
                >
                  <template v-slot:append>
                    <q-icon name="search" color="n360" />
                  </template>
                </q-input>
              </q-item-section>
              <q-item-section v-if="!item.search" class="q-mt-xs">
                <q-item-label>MONTO APROBADO: ${{ item.amount }}</q-item-label>
                <q-item-label caption
                  >CUOTAS APROBADAS: {{ item.dues }}
                </q-item-label>
              </q-item-section>
              <q-item-section side v-if="!item.search">
                <div>
                  <q-btn color="n360" icon="more_vert" dense flat round>
                    <q-menu>
                      <q-list style="min-width: 100px">
                        <q-item
                          clickable
                          v-close-popup
                          v-if="item.estado_cuenta"
                          @click="estado(item._id)"
                        >
                          <q-item-section>Estado de cuenta</q-item-section>
                        </q-item>
                        <q-item
                          clickable
                          v-close-popup
                          @click="historico(item._id)"
                        >
                          <q-item-section>Historico</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          v-if="item.file"
                          clickable
                          v-close-popup
                          @click="downloadFile(item.file, item.site)"
                        >
                          <q-item-section>Comprobante</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          clickable
                          v-close-popup
                          @click="verMas(item, 'activos_pagados')"
                        >
                          <q-item-section>Ver Más</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                </div>
              </q-item-section>
            </q-item>
            <q-separator inset />
          </template>
        </q-virtual-scroll>
        <div
          v-if="list.length <= 1"
          class="my-title text-grey-6 text-center text-subtitle1"
        >
          No se encontraron resultados
        </div>
      </q-tab-panel>

      <q-tab-panel name="solicitados" class="my-body q-pa-none">
        <q-virtual-scroll v-if="!loading_solicidatos" :items="list2">
          <template v-slot="{ item, index }">
            <q-item :key="index" clickable>
              <q-item-section v-if="item.search">
                <q-input
                  label="Buscar"
                  v-model="filter2"
                  color="n360"
                  dense
                  borderless
                >
                  <template v-slot:append>
                    <q-icon name="search" color="n360" />
                  </template>
                </q-input>
              </q-item-section>
              <q-item-section v-if="!item.search">
                <q-item-label
                  >Fecha:
                  {{ $moment(item.date).format("YYYY-MM-DD") }}</q-item-label
                >
                <q-item-label caption>{{ item.estatus_label }} </q-item-label>
              </q-item-section>
              <q-item-section side v-if="!item.search">
                <div>
                  <q-btn color="n360" icon="more_vert" dense flat round>
                    <q-menu>
                      <q-list style="min-width: 100px">
                        <q-item
                          clickable
                          v-close-popup
                          v-if="item.available"
                          :to="
                            '/mis-prestamos/solicitar/' +
                            item.collection +
                            '+' +
                            item._id
                          "
                        >
                          <q-item-section>Editar</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          clickable
                          v-close-popup
                          v-if="item.available"
                          @click="
                            eliminar(
                              item.collection + '/' + item._id,
                              item.file
                            )
                          "
                        >
                          <q-item-section>Eliminar</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          v-if="item.file"
                          clickable
                          v-close-popup
                          @click="downloadFile(item.file, item.site)"
                        >
                          <q-item-section>Comprobante</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          clickable
                          v-close-popup
                          @click="verMas(item, 'solicitados')"
                        >
                          <q-item-section>Ver Más</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                </div>
              </q-item-section>
            </q-item>
            <q-separator inset />
          </template>
        </q-virtual-scroll>
        <div
          v-if="list2.length <= 1"
          class="my-title text-grey-6 text-center text-subtitle1"
        >
          No se encontraron resultados
        </div>
      </q-tab-panel>
    </q-tab-panels>
    <q-btn
      v-if="tab === 'solicitados'"
      dense
      round
      icon="filter_alt"
      color="n360"
      class="absolute-bottom-left q-ml-lg q-mb-xl"
    >
      <q-menu>
        <q-list style="min-width: 100px">
          <q-item
            :class="type_solicitados == 'a' ? 'bg-n360 text-grey-3' : ''"
            clickable
            v-close-popup
            @click="type_solicitados = 'a'"
          >
            <q-item-section>Filtrar Aprobados</q-item-section>
          </q-item>
          <q-separator />
          <q-item
            :class="type_solicitados == 'r' ? 'bg-n360 text-grey-3' : ''"
            clickable
            v-close-popup
            @click="type_solicitados = 'r'"
          >
            <q-item-section>Filtrar Rechazados</q-item-section>
          </q-item>
          <q-separator />
          <q-item
            :class="type_solicitados == 'p' ? 'bg-n360 text-grey-3' : ''"
            clickable
            v-close-popup
            @click="type_solicitados = 'p'"
          >
            <q-item-section>Filtrar Pendientes</q-item-section>
          </q-item>
          <q-separator />
          <q-item
            :class="type_solicitados == 'all' ? 'bg-n360 text-grey-3' : ''"
            clickable
            v-close-popup
            @click="type_solicitados = 'all'"
          >
            <q-item-section>Filtrar Todos</q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </q-btn>

    <!-- DIALOGS -->
    <q-dialog v-model="dialog_historico" maximized>
      <q-card>
        <q-card-actions align="right">
          <q-btn flat icon="close" color="n360" v-close-popup />
        </q-card-actions>
        <historico v-model="historico_list" />
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialog_mas" maximized>
      <q-card>
        <q-card-actions align="right">
          <q-btn flat icon="close" color="n360" v-close-popup />
        </q-card-actions>
        <ver-mas v-model="ver_mas" :type="type" />
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import Historico from "./Historico.vue";
import VerMas from "./VerMas.vue";
import jsPDF from "jspdf";
import "jspdf-autotable";
import { openURL } from "quasar";
export default {
  name: "ListadoMobile",
  components: {
    Historico,
    VerMas,
  },
  data() {
    return {
      type_solicitados: "all",
      type: "",
      filter: "",
      filter2: "",
      tab: "activos",
      dialog_historico: false,
      dialog_mas: false,
      loading_activos: false,
      loading_estado: false,
      loading_solicidatos: false,
      historico_list: [],
      rows: [],
      rows2: [],
      ver_mas: {},
    };
  },
  watch: {
    type_solicitados() {
      this.loading_solicidatos = true;
      this.$q.loading.show();
      setTimeout(async () => {
        await this.solicitados();
        this.loading_solicidatos = false;
        this.$q.loading.hide();
      }, 2000);
    },
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
    list() {
      let fil = this.rows.filter(
        (v) =>
          !this.filter ||
          this.filter == this.$moment(v.date).format("YYYY-MM-DD") ||
          this.filter.toLowerCase() == v.motivo.toLowerCase()
      );
      fil.unshift({
        search: true,
      });
      return fil;
    },
    list2() {
      let fil = this.rows2.filter(
        (v) =>
          !this.filter2 ||
          this.filter2 == this.$moment(v.date).format("YYYY-MM-DD") ||
          this.filter2.toLowerCase() == v.motivo.toLowerCase()
      );
      fil.unshift({
        search: true,
      });
      return fil;
    },
  },
  methods: {
    listActivos(type) {
      try {
        this.loading_activos = true;
        this.$api
          .post("prestamos/activos-pagados", {
            user: this.user,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            type: type,
          })
          .then((v) => {
            this.rows = v.data;
            this.loading_activos = false;
          });
      } catch (error) {
        this.loading_activos = false;
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    historico(id) {
      try {
        this.$q.loading.show();
        this.$api
          .post("prestamos/historico", {
            user: this.user,
            id: id,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
          })
          .then((v) => {
            this.historico_list = v.data;
            this.dialog_historico = true;
            this.$q.loading.hide();
          });
      } catch (error) {
        this.$q.loading.hide();

        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    eliminar(collection, file) {
      this.$q
        .dialog({
          title: "Eliminar",
          message: "¿Está seguro de eliminar la solicitud?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          await this.$api.post("prestamos/eliminar", {
            collection: collection,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
            file: file ? file : null,
          });
          await this.solicitados();
          this.$q.notify({
            message: "Solicitud eliminada",
            color: "negative",
          });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
    solicitados() {
      try {
        this.loading_solicidatos = true;
        this.$api
          .post("prestamos/solicitudes", {
            user: this.user,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            type: this.type_solicitados,
          })
          .then((v) => {
            this.rows2 = v.data;
            this.loading_solicidatos = false;
          });
      } catch (error) {
        this.loading_solicidatos = false;
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    async estadoPDF(row) {
      try {
        this.loading_estado = true;
        await this.$api
          .post("prestamos/estado-pdf", {
            data: row,
            company: this.user.data.__company__,
            url: this.company.apiUrl,
          })
          .then((v) => {
            let data = v.data;
            let footer =
              "Dirección:" +
              " " +
              data.direccion +
              ". Telefonos:" +
              " " +
              data.phone +
              "\n" +
              data.ciudad +
              ", " +
              data.provincia +
              ", Ecuador.";

            let pdf = new jsPDF();
            let pageSize = pdf.internal.pageSize.height;
            //Logo
            pdf.addImage(data.logo64, "PNG", 20, 20, 50, 50);
            pdf.setFontSize(12);
            const fecha = data.ciudad + ", " + data.today;
            pdf.text(fecha, 100, 20, "left");
            pdf.setFontSize(18);

            let titles = [
              "Estado de Cuenta",
              "Empleado: ",
              "Cédula: ",
              "Prestamo: ",
              "Fecha de Solicitud: ",
              "Monto: ",
              "Monto Cancelado: ",
              "Monto Pendiente: ",
              "Cuotas Pagadas: ",
              "Cuotas por Pagar: ",
              "Cargo: ",
              "Motivo: ",
            ];
            let xOffset1 =
              pdf.internal.pageSize.width / 2 -
              (pdf.getStringUnitWidth(titles[0]) * pdf.internal.getFontSize()) /
                2; // centrado segun la palabra
            // Titulo Estado de Cuenta
            pdf.text(titles[0], xOffset1, 80);

            // subtitulos
            let xOffset2 = pdf.internal.pageSize.getWidth();
            xOffset2 = xOffset2 / 2;

            // pdf.setFontStyle('normal')
            pdf.setFontSize(12);
            pdf.text(titles[1] + (data.name + " " + data.last_name), 20, 100);
            pdf.text(titles[10] + data.cargo, 20, 110);
            pdf.text(
              titles[4] + this.$moment(data.date).format("DD-MM-YYYY"),
              20,
              120
            );
            pdf.text(titles[3], 20, 130);
            pdf.text(
              titles[5] + Number.parseFloat(data.amount).toFixed(2) + " $",
              xOffset2,
              130
            );
            pdf.text(
              titles[6] +
                Number.parseFloat(data.monto_pagado).toFixed(2) +
                " $",
              20,
              140
            );
            pdf.text(
              titles[7] + Number.parseFloat(data.saldo).toFixed(2) + " $",
              xOffset2,
              140
            );
            pdf.text(titles[8] + data.cuotas_pagadas, 20, 150);
            pdf.text(titles[9] + data.cuotas_x_pagar, xOffset2, 150);
            pdf.text(titles[11] + data.motivo, 20, 160);
            //tabla de cuotas
            let data_ = data.cuotas;
            for (let i = 0; i < data_.length; i++) {
              for (let j = 0; j < data.roles.length; j++) {
                if (data_[i].rol === data.roles[j]._id) {
                  data_[i].rol = data.roles[j].name;
                }
              }
            }
            let rows = [];
            for (let k = 0; k < data_.length; k++) {
              rows.push([
                k + 1,
                data_[k].month + "/" + data_[k].year,
                Number.parseFloat(data_[k].amount).toFixed(2),
                data_[k].forma_pago,
                data_[k].descuento,
              ]);
            }
            let numRows = rows.length;

            let columns = [
              "Cuota",
              "Fecha",
              "Monto",
              "Forma de Pago",
              "Estado",
            ];
            let height = 0;
            pdf.autoTable({
              columns,
              body: rows,
              startY: 200,
              theme: "grid",
              headStyles: {
                0: { minCellWidth: "5", halign: "center" },
                1: { minCellWidth: "10", halign: "center" },
                2: { minCellWidth: "10", halign: "center" },
                3: { minCellWidth: "10", halign: "center" },
                4: { minCellWidth: "10", halign: "center" },
              },
              columnStyles: {
                0: { minCellWidth: "5", halign: "center" },
                1: { minCellWidth: "10", halign: "center" },
                2: { minCellWidth: "10", halign: "center" },
                3: { minCellWidth: "10", halign: "center" },
                4: { minCellWidth: "10", halign: "center" },
              },
              didDrawPage: function (data) {
                // footer
                pdf.setFontSize(8);
                let yFooter = pageSize - 20;
                pdf.text(footer, 300, yFooter, "center");
              },
            });

            //Logo
            pdf.setFontSize(12);
            const pageCount = pdf.internal.getNumberOfPages();
            pdf.save(`Estado de Cuenta - ${data.employee}.pdf`);
          });
        this.loading_estado = false;
        this.$q.notify({
          message: "Estado de cuenta Descargado con exito!",
          color: "positive",
        });
      } catch (error) {
        this.loading_estado = false;
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    verMas(row, type) {
      this.ver_mas = row;
      this.dialog_mas = true;
      this.type = type;
    },
    downloadFile(file, site) {
      const route =
        site == "portal" ? this.$env.storage : this.company.apiUrl + "/";
      openURL(route + file);
    },
  },
  async mounted() {
    await this.listActivos("activo");
    await this.solicitados();
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
