<template>
  <div>
    <div align="center" class="text-grey-7 text-h6 text-weight-bold my-title">
      MÁS INOFRMACIÓN
    </div>
    <div class="my-body" v-if="type === 'solicitados'">
      <div class="q-pa-md text-weight-bold text-subtitle2">
        <q-list bordered separator class="rounded-borders">
          <q-item>
            <q-item-section>Fecha de solicitud:</q-item-section>
            <q-item-section side>
              {{ $moment(form.date).format("YYYY-MM-DD") }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Motivo:</q-item-section>
            <q-item-section side>
              {{ form.motivo }}
            </q-item-section>
          </q-item>

          <q-item>
            <q-item-section>Monto:</q-item-section>
            <q-item-section side>
              ${{ Number.parseFloat(form.amount).toFixed(2) }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Interest:</q-item-section>
            <q-item-section side> {{ form.interest || 0 }} % </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Estatus:</q-item-section>
            <q-item-section side>
              {{ form.estatus_label }}
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <div class="q-pa-md q-mb-md text-weight-bold text-subtitle2">
        <q-virtual-scroll
          style="max-height: 300px"
          :items="form.cuotas"
          separator
        >
          <template v-slot="{ item, index }">
            <q-expansion-item
              :key="index"
              expand-separator
              :label="'Cuota ' + (index + 1)"
              :caption="item.descuento"
            >
              <q-item>
                <q-item-section>Fecha:</q-item-section>
                <q-item-section side>
                  {{ item.month + "/" + item.year }}
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>Monto:</q-item-section>
                <q-item-section side>
                  ${{ Number.parseFloat(item.amount).toFixed(2) }}
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>Rol:</q-item-section>
                <q-item-section side>
                  {{
                    roles.find((v) => v._id == item.rol)
                      ? roles.find((v) => v._id == item.rol).name
                      : "Sin rol"
                  }}
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>Interes:</q-item-section>
                <q-item-section side>
                  {{ item.interest || 0 }}
                </q-item-section>
              </q-item>
            </q-expansion-item>
          </template>
        </q-virtual-scroll>
      </div>
    </div>
    <div class="my-body" v-if="type === 'activos_pagados'">
      <div class="q-pa-md text-weight-bold text-subtitle2">
        <q-list bordered separator class="rounded-borders">
          <q-item>
            <q-item-section>Fecha de solicitud:</q-item-section>
            <q-item-section side>
              {{ $moment(form.date).format("YYYY-MM-DD") }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Motivo:</q-item-section>
            <q-item-section side>
              {{ form.motivo }}
            </q-item-section>
          </q-item>

          <q-item>
            <q-item-section>Monto Aprobado:</q-item-section>
            <q-item-section side>
              ${{ Number.parseFloat(form.amount).toFixed(2) }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Monto Pagado:</q-item-section>
            <q-item-section side>
              ${{ Number.parseFloat(form.monto_pagado).toFixed(2) }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Saldo Pendiente:</q-item-section>
            <q-item-section side>
              ${{ Number.parseFloat(form.saldo).toFixed(2) }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Cuotas Aprobadas:</q-item-section>
            <q-item-section side>
              {{ form.dues }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Cuotas Pagadas:</q-item-section>
            <q-item-section side>
              {{ form.cuotas_pagadas }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Cuotas por pagar:</q-item-section>
            <q-item-section side>
              {{ form.cuotas_x_pagar }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Estatus:</q-item-section>
            <q-item-section side>
              {{ form.estatusprestamo == "activo" ? "Activo" : "Pagado" }}
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <div class="q-pa-md q-mb-md text-weight-bold text-subtitle2">
        <q-virtual-scroll
          style="max-height: 300px"
          :items="form.cuotas"
          separator
        >
          <template v-slot="{ item, index }">
            <q-expansion-item
              :key="index"
              expand-separator
              :label="'Cuota ' + (index + 1)"
              :caption="item.descuento"
            >
              <q-item>
                <q-item-section>Fecha:</q-item-section>
                <q-item-section side>
                  {{ item.month + "/" + item.year }}
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>Monto:</q-item-section>
                <q-item-section side>
                  ${{ Number.parseFloat(item.amount).toFixed(2) }}
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>Rol:</q-item-section>
                <q-item-section side>
                  {{
                    roles.find((v) => v._id == item.rol)
                      ? roles.find((v) => v._id == item.rol).name
                      : "Sin rol"
                  }}
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>Interes:</q-item-section>
                <q-item-section side>
                  {{ item.interest || 0 }}
                </q-item-section>
              </q-item>
            </q-expansion-item>
          </template>
        </q-virtual-scroll>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { mapState } from "vuex";
export default {
  name: "VerMas",
  data() {
    return {
      roles: [],
    };
  },
  props: {
    value: [],
    type: "",
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
    form: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
  },
  methods: {},
  async mounted() {
    await this.$api
      .post("prestamos/tipo-sueldo", {
        user: this.user.data._id,
        url: this.company.apiUrl,
        company: this.user.data.__company__,
      })
      .then((val) => {
        this.roles = val.data;
      });
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
