<template>
  <div>
    <div class="text-grey-7 text-h6 text-weight-bold text-center">
      Historico
    </div>
    <div class="q-pa-md text-weight-bold text-subtitle2">
      <q-list
        bordered
        separator
        class="rounded-borders"
        v-for="(obj, index) in historico"
        :key="'A' + index"
      >
        <q-expansion-item
          expand-separator
          icon="visibility"
          :label="$moment(obj.created_at).format('YYYY-MM-DD')"
          :caption="obj.estatus_label"
        >
          <q-card>
            <q-card-section>
              <q-list highlight separator class="text-weight-bold">
                <q-item>
                  <q-item-section>Periodo:</q-item-section>
                  <q-item-section side>
                    {{ obj.periodo }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Fecha de inicio:</q-item-section>
                  <q-item-section side>
                    {{ $moment(obj.start).format("YYYY-MM-DD") }}
                  </q-item-section>
                </q-item>
                <q-item v-if="obj.end">
                  <q-item-section>Fecha de finalización:</q-item-section>
                  <q-item-section side>
                    {{ $moment(obj.end).format("YYYY-MM-DD") }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Tipo de generación:</q-item-section>
                  <q-item-section side>
                    {{
                      tipos_gen.find((v) => v.value === obj.mode)
                        ? tipos_gen.find((v) => v.value === obj.mode).label
                        : "Sin Tipo "
                    }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Días normales tomados:</q-item-section>
                  <q-item-section side>
                    {{ obj.days }}
                  </q-item-section>
                </q-item>
                <q-item v-if="!obj.anticipar">
                  <q-item-section>Valor normal:</q-item-section>
                  <q-item-section side>
                    ${{ Number.parseFloat(obj.valor).toFixed(2) || 0 }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Días adicionales tomados:</q-item-section>
                  <q-item-section side>
                    {{ obj.days_adicionales || 0 }}
                  </q-item-section>
                </q-item>
                <q-item v-if="!obj.anticipar">
                  <q-item-section>Valor Adicional:</q-item-section>
                  <q-item-section side>
                    ${{
                      obj.valor_adicional
                        ? Number.parseFloat(obj.valor_adicional).toFixed(2)
                        : 0
                    }}
                  </q-item-section>
                </q-item>
                <q-item v-if="obj.mode_adicional">
                  <q-item-section>Tipo de pago adicional:</q-item-section>
                  <q-item-section side>
                    {{
                      tipos_gen.find((v) => v.value === obj.mode_adicional)
                        ? tipos_gen.find((v) => v.value === obj.mode_adicional)
                            .label
                        : "Sin Tipo "
                    }}
                  </q-item-section>
                </q-item>
                <q-item v-if="obj.anticipar">
                  <q-item-section>Días anticipados tomados:</q-item-section>
                  <q-item-section side>
                    {{ obj.dias_vacaciones_anticipadas || 0 }}
                  </q-item-section>
                </q-item>
                <q-item v-if="obj.anticipar">
                  <q-item-section
                    >Días anticipados adicionales tomados:</q-item-section
                  >
                  <q-item-section side>
                    {{ obj.dias_vacaciones_anticipadas_a || 0 }}
                  </q-item-section>
                </q-item>
                <q-item v-if="obj.anticipar">
                  <q-item-section>Valor anticipado:</q-item-section>
                  <q-item-section side>
                    ${{
                      obj.valor ? Number.parseFloat(obj.valor).toFixed(2) : 0
                    }}
                  </q-item-section>
                </q-item>
                <q-item v-if="obj.anticipar">
                  <q-item-section>Valor anticipado adicional:</q-item-section>
                  <q-item-section side>
                    ${{
                      obj.valor_adicional
                        ? Number.parseFloat(obj.valor_adicional).toFixed(2)
                        : 0
                    }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Estatus:</q-item-section>
                  <q-item-section side>
                    {{ obj.estatus_label }}
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
    </div>
  </div>
</template>

<script>
export default {
  name: "Historico",
  data() {
    return {
      tipos_gen: [
        {
          label: "Normal",
          value: "norm",
        },
        {
          label: "Solo descontar días",
          value: "days",
        },
        {
          label: "Solo descontar pago",
          value: "pago",
        },
        {
          label: "Vacaciones Pagadas",
          value: "pagadas",
        },
        {
          label: "Anticipadas normal",
          value: "normal",
        },
        {
          label: "Anticipadas solo  pago",
          value: "pago",
        },
        {
          label: "Normal",
          value: "norm_adicional",
        },
        {
          label: "Pagados y Descontados",
          value: "pago_descuento_adicional",
        },
        {
          label: "Descontar Días",
          value: "days_adicional",
        },
        {
          label: "Descontar Pago",
          value: "pago_adicional",
        },
      ],
    };
  },
  props: {
    value: [],
  },
  watch: {},
  computed: {
    historico: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
  },
  methods: {},
  async mounted() {},
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
