<template>
  <q-page class="q-pa-sm">
    <div class="bg-white">
      <div class="q-pa-md row q-gutter-x-md">
        <q-btn
          :label="
            type === 'activo' ? 'Vacaciones Pagadas' : 'Vacaciones Activas'
          "
          class="btn-n360 my-title"
          @click="type === 'activo' ? (type = 'pagado') : (type = 'activo')"
          :loading="loading_activos"
        />
        <q-btn
          to="/mis-vacaciones/solicitar"
          label="Solicitar Vacaciones"
          class="btn-n360 my-title"
        />
      </div>
      <div class="q-pa-md">
        <q-scroll-area style="height: 580px">
          <!-- ACTIVOS || PAGADOS -->
          <q-table
            :title="
              type === 'activo' ? 'VACACIONES  ACTIVAS' : 'VACACIONES  PAGADAS'
            "
            :data="rows"
            :columns="columns"
            :filter="filter"
            :loading="loading_activos"
            row-key="name"
            class="my-title"
          >
            <template v-slot:top-right>
              <q-input
                outlined
                dense
                debounce="300"
                v-model="filter"
                placeholder="Buscar"
                color="n360"
              >
                <template v-slot:append>
                  <q-icon name="search" color="n360" />
                </template>
              </q-input>
            </template>
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="valor" :props="props"> ${{ props.row.valor }} </q-td>
                <q-td key="mode" :props="props">
                  {{
                    tipos_gen.find((v) => v.value === props.row.mode)
                      ? tipos_gen.find((v) => v.value === props.row.mode).label
                      : "Sin Tipo "
                  }}
                </q-td>
                <q-td key="descuento" :props="props">
                  {{ props.row.descuento }}
                </q-td>
                <q-td key="forma_pago" :props="props">
                  {{ props.row.forma_pago }}
                </q-td>

                <q-td key="actions" :props="props">
                  <q-btn
                    color="n360"
                    outline
                    label="Historico"
                    size="sm"
                    @click="historico(props.row._id)"
                  />
                </q-td>
              </q-tr>
            </template>
          </q-table>

          <!-- Solicitados -->
          <q-table
            :data="rows2"
            :columns="columns2"
            :filter="filter2"
            :loading="loading_solicidatos"
            row-key="name"
            class="my-title q-mt-lg"
            style="font-size: 15px"
          >
            <template v-slot:top>
              <div class="text-h6">VACACIONES SOLICITADAS</div>
              <q-space />
              <q-select
                outlined
                dense
                v-model="type_solicitados"
                label="Filtro"
                color="n360"
                :options="[
                  { label: 'Aprobados', value: 'a' },
                  { label: 'Rechazados', value: 'r' },
                  { label: 'Pendientes', value: 'p' },
                  { label: 'Todos', value: 'all' },
                ]"
                emit-value
                map-options
                style="width: 150px"
              />
              <q-space />
              <q-input
                outlined
                dense
                debounce="300"
                v-model="filter2"
                placeholder="Buscar"
                color="n360"
              >
                <template v-slot:append>
                  <q-icon name="search" color="n360" />
                </template>
              </q-input>
            </template>
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="valor" :props="props"> ${{ props.row.valor }} </q-td>
                <q-td key="mode" :props="props">
                  {{
                    tipos_gen.find((v) => v.value === props.row.mode)
                      ? tipos_gen.find((v) => v.value === props.row.mode).label
                      : "Sin Tipo "
                  }}
                </q-td>
                <q-td key="estatus_label" :props="props">
                  {{ props.row.estatus_label }}
                </q-td>
                <q-td key="fecha" :props="props"> {{ props.row.fecha }} </q-td>

                <q-td key="actions" :props="props">
                  <q-btn
                    color="n360"
                    outline
                    label="Editar"
                    size="sm"
                    :to="
                      '/mis-vacaciones/solicitar/' +
                      props.row.collection +
                      '+' +
                      props.row._id
                    "
                    v-if="props.row.available"
                  />
                  <q-btn
                    color="n360"
                    outline
                    label="Eliminar"
                    size="sm"
                    @click="
                      eliminar(
                        props.row.collection + '/' + props.row._id,
                        props.row.file
                      )
                    "
                    v-if="props.row.available"
                  />
                  <q-btn
                    v-if="props.row.file"
                    color="n360"
                    outline
                    label="Comprobante"
                    size="sm"
                    :loading="loading_file"
                    @click="downloadFile(props.row.file, props.row.site)"
                  />
                  <q-btn
                    color="n360"
                    outline
                    label="Ver más"
                    size="sm"
                    @click="verMas(props.row)"
                  />
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </q-scroll-area>
      </div>
    </div>

    <!-- DIALOGS -->
    <q-dialog v-model="dialog_historico">
      <q-card style="width: 500px; max-width: 80vw; max-height: 50vw">
        <q-card-actions align="right">
          <q-btn flat icon="close" color="n360" v-close-popup />
        </q-card-actions>
        <historico v-model="historico_list" />
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialog_mas">
      <q-card style="width: 500px; max-width: 80vw; max-height: 50vw">
        <q-card-actions align="right">
          <q-btn flat icon="close" color="n360" v-close-popup />
        </q-card-actions>
        <ver-mas v-model="ver_mas" />
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import Historico from "./Historico.vue";
import VerMas from "./VerMas.vue";
import "jspdf-autotable";
import { openURL } from "quasar";
export default {
  name: "ListadoDesktop",
  components: {
    Historico,
    VerMas,
  },
  data() {
    return {
      type: "activo",
      type_solicitados: "all",
      filter: "",
      filter2: "",
      dialog_historico: false,
      dialog_mas: false,
      loading_activos: false,
      loading_estado: false,
      loading_solicidatos: false,
      loading_file: false,
      historico_list: [],
      rows: [],
      rows2: [],
      ver_mas: {},
      columns: [
        {
          name: "valor",
          required: true,
          label: "VALOR APROBADO",
          align: "left",
          field: (row) => row.amount,
          format: (val) => `${val}`,
          sortable: true,
        },
        {
          name: "mode",
          required: true,
          label: "TIPO GENERACIÓN",
          align: "left",
          field: "mode",
          sortable: true,
        },
        {
          name: "descuento",
          align: "center",
          label: "ESTATUS",
          field: "descuento",
          sortable: true,
        },
        {
          name: "forma_pago",
          align: "center",
          label: "FORMA DE PAGO",
          field: "forma_pago",
          sortable: true,
        },
        { name: "actions", align: "right", label: "Acciones", sortable: true },
      ],
      columns2: [
        {
          name: "valor",
          required: true,
          label: "VALOR",
          align: "left",
          field: (row) => row.valor,
          format: (val) => `${val}`,
          sortable: true,
        },
        {
          name: "mode",
          required: true,
          label: "TIPO",
          align: "left",
          field: "mode",
          sortable: true,
        },
        {
          name: "estatus_label",
          align: "center",
          label: "ESTATUS",
          field: "estatus_label",
          sortable: true,
        },
        {
          name: "fecha",
          align: "center",
          label: "FECHA SOLICITUD",
          field: "fecha",
          sortable: true,
        },
        { name: "actions", align: "right", label: "Acciones", sortable: true },
      ],
      tipos_gen: [
        {
          label: "Normal",
          value: "norm",
        },
        {
          label: "Solo descontar días",
          value: "days",
        },
        {
          label: "Solo descontar pago",
          value: "pago",
        },
        {
          label: "Vacaciones Pagadas",
          value: "pagadas",
        },
        {
          label: "Anticipadas normal",
          value: "normal",
        },
        {
          label: "Anticipadas solo  pago",
          value: "pago",
        },
      ],
    };
  },
  watch: {
    type() {
      this.loading_activos = true;
      setTimeout(async () => {
        await this.listActivos();
        this.loading_activos = false;
      }, 2000);
    },
    type_solicitados() {
      this.loading_solicidatos = true;
      setTimeout(async () => {
        await this.solicitados();
        this.loading_solicidatos = false;
      }, 2000);
    },
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
  },
  methods: {
    listActivos() {
      try {
        this.$api
          .post("vacaciones/activos-pagados", {
            user: this.user,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            type: this.type,
          })
          .then((v) => {
            this.rows = v.data;
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    historico(id) {
      try {
        this.$api
          .post("vacaciones/historico", {
            user: this.user,
            id: id,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
          })
          .then((v) => {
            this.historico_list = v.data;
            this.dialog_historico = true;
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    eliminar(collection, file) {
      this.$q
        .dialog({
          title: "Eliminar",
          message: "¿Está seguro de eliminar la solicitud?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          await this.$api.post("vacaciones/eliminar", {
            collection: collection,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
            file: file ? file : null,
          });
          this.solicitados();
          this.$q.notify({
            message: "Solicitud eliminada",
            color: "negative",
          });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
    solicitados() {
      try {
        this.$api
          .post("vacaciones/solicitudes", {
            user: this.user,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            type: this.type_solicitados,
          })
          .then((v) => {
            this.rows2 = v.data;
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    verMas(row) {
      this.ver_mas = row;
      this.dialog_mas = true;
    },
    downloadFile(file, site) {
      const route = site == "portal" ? this.$env.storage : this.company.apiUrl + '/';
      openURL(route + file);
    },
  },
  async mounted() {
    await this.listActivos();
    await this.solicitados();
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
