<template>
  <div>
    <!-- MOBILE -->
    <crear-mobile v-if="$q.platform.is.mobile" />

    <!-- DESKTOP -->
    <crear-desktop v-if="$q.platform.is.desktop" />
  </div>
</template>

<script>
import CrearMobile from "src/pages/Mobile/Panel/CrearMobile.vue";
import CrearDesktop from "src/pages/Desktop/Panel/CrearDesktop.vue";

export default {
  name: "Crear",
  components: {
    CrearMobile,
    CrearDesktop,
  },
  data() {
    return {};
  },
};
</script>
