<template>
  <div>
    <!-- MOBILE -->
    <listado-mobile v-if="$q.platform.is.mobile" />

    <!-- DESKTOP -->
    <listado-desktop v-if="$q.platform.is.desktop" />
  </div>
</template>

<script>
import ListadoMobile from "src/pages/Mobile/Panel/ListadoMobile.vue";
import ListadoDesktop from "src/pages/Desktop/Panel/ListadoDesktop.vue";

export default {
  name: "Listado",
  components: {
    ListadoMobile,
    ListadoDesktop,
  },
  data() {
    return {};
  },
};
</script>
