<template>
  <q-page class="q-pa-sm">
    <div class="bg-white full-height">
      <div class="q-pa-md q-mx-md">
        <!-- CONTRATOS -->
        <q-table
          :data="rows.contratos"
          :columns="columns_contratos"
          :loading="loading"
          row-key="name"
          class="my-title q-mt-lg"
          style="font-size: 15px"
        >
          <template v-slot:top>
            <div class="text-h6">CONTRATOS</div>
            <q-space />
          </template>
        </q-table>

        <!-- SUELDOS -->
        <q-table
          :data="rows.sueldos"
          :columns="columns_sueldos"
          :loading="loading"
          row-key="name"
          class="my-title q-mt-lg"
          style="font-size: 15px"
        >
          <template v-slot:top>
            <div class="text-h6">SUELDOS</div>
            <q-space />
          </template>
        </q-table>

        <!-- VACACIONES -->
        <q-table
          :data="rows.vacaciones"
          :columns="columns_vacaciones"
          :loading="loading"
          row-key="name"
          class="my-title q-mt-lg"
          style="font-size: 15px"
        >
          <template v-slot:top>
            <div class="text-h6">VACACIONES</div>
            <q-space />
          </template>
        </q-table>

        <!-- ANTICIPOS -->
        <q-table
          :data="rows.anticipos"
          :columns="columns_anticipos"
          :loading="loading"
          row-key="name"
          class="my-title q-mt-lg"
          style="font-size: 15px"
        >
          <template v-slot:top>
            <div class="text-h6">ANTICIPOS</div>
            <q-space />
          </template>
        </q-table>

        <!-- PRESTAMOS -->
        <q-table
          :data="rows.prestamos"
          :columns="columns_prestamos"
          :loading="loading"
          row-key="name"
          class="my-title q-mt-lg"
          style="font-size: 15px"
        >
          <template v-slot:top>
            <div class="text-h6">PRÉSTAMOS</div>
            <q-space />
          </template>
        </q-table>

        <!-- PERMISOS -->
        <q-table
          :data="rows.permisos"
          :columns="columns_permisos"
          :loading="loading"
          row-key="name"
          class="my-title q-mt-lg"
          style="font-size: 15px"
        >
          <template v-slot:top>
            <div class="text-h6">PERMISOS</div>
            <q-space />
          </template>
        </q-table>

        <!-- LLAMADOS -->
        <q-table
          :data="rows.llamados"
          :columns="columns_llamados"
          :loading="loading"
          row-key="name"
          class="my-title q-mt-lg"
          style="font-size: 15px"
        >
          <template v-slot:top>
            <div class="text-h6">LLAMADOS DE ATENCIÓN</div>
            <q-space />
          </template>
        </q-table>

        <!-- CAPACITACIONES -->
        <q-table
          :data="rows.capacitaciones"
          :columns="columns_capacitaciones"
          :loading="loading"
          row-key="name"
          class="my-title q-mt-lg"
          style="font-size: 15px"
        >
          <template v-slot:top>
            <div class="text-h6">CAPACITACIONES</div>
            <q-space />
          </template>
        </q-table>

        <!-- FALTAS -->
        <q-table
          :data="rows.faltas"
          :columns="columns_faltas"
          :loading="loading"
          row-key="name"
          class="my-title q-mt-lg"
          style="font-size: 15px"
        >
          <template v-slot:top>
            <div class="text-h6">FALTAS</div>
            <q-space />
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ListadoDesktop",
  components: {},
  data() {
    return {
      rows: [],
      loading: false,
      columns_contratos: [
        {
          name: "sueldo",
          required: true,
          label: "SUELDO",
          align: "left",
          field: "sueldo",
          sortable: true,
        },
        {
          name: "departamento",
          required: true,
          label: "DEPARTAMENTO",
          align: "center",
          field: "departamento",
          sortable: true,
        },
        {
          name: "entry_date",
          required: true,
          label: "FECHA DE INGRESO",
          align: "center",
          field: "entry_date",
          sortable: true,
        },
        {
          name: "estatus",
          required: true,
          label: "ESTATUS",
          align: "center",
          field: "estatus",
          sortable: true,
        },
      ],
      columns_sueldos: [
        {
          name: "created_at",
          required: true,
          label: "FECHA DEL CAMBIO",
          align: "left",
          field: (row) => row.created_at,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },

        {
          name: "antes",
          required: true,
          label: "ANTES",
          align: "center",
          field: "antes",
          sortable: true,
        },
        {
          name: "despues",
          required: true,
          label: "DESPUES",
          align: "center",
          field: "despues",
          sortable: true,
        },
        {
          name: "observacion",
          required: true,
          label: "OBSERVACIÓN",
          align: "center",
          field: (row) => row.observacion,
          format: (val) => (val ? val : "Sin observación"),
          sortable: true,
        },
      ],
      columns_vacaciones: [
        {
          name: "created_at",
          label: "FECHA GENERACIÓN",
          align: "left",
          field: (row) => row.created_at,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
        {
          name: "periodo",
          required: true,
          label: "PERIODO",
          align: "left",
          field: "periodo",
          sortable: true,
        },
        {
          name: "mode",
          required: true,
          label: "TIPO GENERACIÓN",
          align: "left",
          field: (row) => row.mode,
          format: (val) => {
            const tipo = this.options.find((v) => v.value == val);
            return tipo ? tipo.label : "Sin tipo";
          },
          sortable: true,
        },
        {
          name: "days",
          required: true,
          label: "DÍAS",
          align: "center",
          field: (row) => row,
          format: (val) => {
            if (val.anticipar) return val.dias_vacaciones_anticipadas;
            else return val.days;
          },
          sortable: true,
        },
        {
          name: "valor",
          required: true,
          label: "VALOR",
          align: "center",
          field: (row) => row.valor,
          format: (val) => `$${val || 0}`,
          sortable: true,
        },
        {
          name: "days_adicionales",
          required: true,
          label: "DÍAS ADICIONALES",
          align: "center",
          field: (row) => row,
          format: (val) => {
            if (val.anticipar) return val.dias_vacaciones_anticipadas_a;
            else return val.days_adicionales;
          },
          sortable: true,
        },
        {
          name: "valor_adicional",
          required: true,
          label: "VALOR ADICIONAL",
          align: "center",
          field: (row) => row.valor_adicional,
          format: (val) => `$${val || 0}`,
          sortable: true,
        },
      ],
      columns_anticipos: [
        {
          name: "advancedate",
          required: true,
          label: "FECHA DEL ANTICIPO",
          align: "left",
          field: (row) => row.advancedate,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
        {
          name: "amount",
          required: true,
          label: "MÓNTO",
          align: "left",
          field: (row) => row.amount,
          format: (val) => `$${val || 0}`,
          sortable: true,
        },
        {
          name: "pagar_beneficio",
          required: true,
          label: "PAGAR BENEFICIO",
          align: "center",
          field: (row) => row.pagar_beneficio,
          format: (val) => (val ? "SI" : "NO"),
          sortable: true,
        },
        {
          name: "created_at",
          required: true,
          label: "FECHA DE GENERACIÓN",
          align: "center",
          field: (row) => row.created_at,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
      ],
      columns_prestamos: [
        {
          name: "date",
          required: true,
          label: "FECHA DEL PRÉSTAMO",
          align: "left",
          field: (row) => row.date,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
        {
          name: "amount",
          required: true,
          label: "MÓNTO",
          align: "left",
          field: (row) => row.amount,
          format: (val) => `$${val || 0}`,
          sortable: true,
        },
        {
          name: "pagar_beneficio",
          required: true,
          label: "PAGAR BENEFICIO",
          align: "center",
          field: (row) => row.pagar_beneficio,
          format: (val) => (val ? "SI" : "NO"),
          sortable: true,
        },
        {
          name: "created_at",
          required: true,
          label: "FECHA DE GENERACIÓN",
          align: "center",
          field: (row) => row.created_at,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
      ],
      columns_permisos: [
        {
          name: "inicio",
          required: true,
          label: "FECHA DE INICIO",
          align: "left",
          field: (row) => row.inicio,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
        {
          name: "fin",
          required: true,
          label: "FECHA DE FINALIZACIÓN",
          align: "left",
          field: (row) => row.fin,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
        {
          name: "dias",
          required: true,
          label: "DÍAS",
          align: "left",
          field: "dias",
          sortable: true,
        },
        {
          name: "solicitud",
          required: true,
          label: "TIPO DE SOLICITUD",
          align: "center",
          field: (row) => row.solicitud,
          format: (val) => {
            const tipo = this.options.find((v) => v.value == val);
            return tipo ? tipo.label : "Sin tipo";
          },
          sortable: true,
        },
        {
          name: "motivo",
          required: true,
          label: "MÓTIVO",
          align: "center",
          field: (row) => row.motivo,
          format: (val) => {
            const tipo = this.options.find((v) => v.value == val);
            return tipo ? tipo.label : "Sin tipo";
          },
          sortable: true,
        },
        {
          name: "created_at",
          required: true,
          label: "FECHA DE GENERACIÓN",
          align: "center",
          field: (row) => row.created_at,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
      ],
      columns_llamados: [
        {
          name: "date",
          required: true,
          label: "FECHA DEL LLAMADO",
          align: "left",
          field: (row) => row.date,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
        {
          name: "description",
          required: true,
          label: "DESCRIPCIÓN",
          align: "center",
          field: "description",
          sortable: true,
        },

        {
          name: "created_at",
          required: true,
          label: "FECHA DE GENERACIÓN",
          align: "center",
          field: (row) => row.created_at,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
      ],
      columns_capacitaciones: [
        {
          name: "fecha",
          required: true,
          label: "FECHA DE LA CAPACITACIÓN",
          align: "left",
          field: (row) => row.fecha,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
        {
          name: "nombre",
          required: true,
          label: "NOMBRE",
          align: "left",
          field: "nombre",
          sortable: true,
        },
        {
          name: "lugar",
          required: true,
          label: "LUGAR",
          align: "left",
          field: "lugar",
          sortable: true,
        },
        {
          name: "capacitador",
          required: true,
          label: "CAPACITADOR",
          align: "center",
          field: "capacitador",
          sortable: true,
        },
        {
          name: "monto",
          required: true,
          label: "MONTO",
          align: "center",
          field: "monto",
          sortable: true,
        },
        {
          name: "created_at",
          required: true,
          label: "FECHA DE GENERACIÓN",
          align: "center",
          field: (row) => row.created_at,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
      ],
      columns_faltas: [
        {
          name: "date",
          required: true,
          label: "FECHA DE LA FALTA",
          align: "left",
          field: (row) => row.date,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
        {
          name: "type",
          required: true,
          label: "TIPO DE FALTA",
          align: "center",
          field: (row) => row.type,
          format: (val) => {
            const tipo = this.options.find((v) => v.value == val);
            return tipo ? tipo.label : "Sin tipo";
          },
          sortable: true,
        },
        {
          name: "motivo_falta_justificada",
          required: true,
          label: "MOTÍVO DE LA FALTA",
          align: "center",
          field: (row) => row.motivo_falta_justificada,
          format: (val) => {
            const tipo = this.options.find((v) => v.value == val);
            return tipo ? tipo.label : "Sin motívo";
          },
          sortable: true,
        },
        {
          name: "created_at",
          required: true,
          label: "FECHA DE GENERACIÓN",
          align: "center",
          field: (row) => row.created_at,
          format: (val) => this.$moment(val).format("YYYY-MM-DD"),
          sortable: true,
        },
      ],

      // options
      options: [
        // MODOS DE VACACIONES
        {
          label: "Normal",
          value: "norm",
        },
        {
          label: "Solo descontar días",
          value: "days",
        },
        {
          label: "Solo descontar pago",
          value: "pago",
        },
        {
          label: "Vacaciones Pagadas",
          value: "pagadas",
        },
        {
          label: "Anticipadas normal",
          value: "normal",
        },
        {
          label: "Anticipadas solo  pago",
          value: "pago",
        },

        // PERMISOS TIPOS
        {
          label: "Permisos - Licencias Médicas y Otros",
          value: "permiso-medico",
        },
        {
          label: "Permiso de Paternidad",
          value: "permiso-paternidad",
        },
        {
          label: "Permiso de Maternidad",
          value: "permiso-maternidad",
        },
        {
          label: "Otros permisos",
          value: "permiso-otros",
        },

        // FALTAS
        { label: "Justificada", value: "justificada" },
        { label: "Injustificada", value: "injustificada" },
        {
          label: "Horas",
          value: "h",
        },
        {
          label: "Días",
          value: "d",
        },
      ],
    };
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
  },
  methods: {
    listado() {
      try {
        this.loading = true;
        this.$api
          .post("historial-laboral/historial", {
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
            user: this.user.data._id,
          })
          .then((v) => {
            this.rows = v.data;
            this.loading = false;
          });
      } catch (error) {
        this.loading = false;
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    async getMotivosPermisos() {
      const tipos_partos = [
        {
          label: "Normal",
          value: "Normal",
        },
        {
          label: "Cesárea",
          value: "Cesárea",
        },
        {
          label: "Prematuro",
          value: "Prematuro",
        },
        {
          label: "Adopción",
          value: "Adopción",
        },
      ];
      let medicos = [];
      let otros = [];
      await this.$api
        .post("permisos/motivos-permisos-medicos", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            medicos = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
          }
        });
      await this.$api
        .post("permisos/motivos-permisos-otros", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            otros = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
            otros.push({
              label: "Licencia sin sueldo",
              value: "lic_sin_sueldo",
            });
          }
        });

      this.options.push(...tipos_partos, ...medicos, ...otros);
    },
    async getMotivosFaltas() {
      await this.$api
        .post("faltas/motivos-faltas", {
          user: this.user,
          url: this.company.apiUrl,
        })
        .then((v) => {
          const motivos = v.data.map((val) => ({
            label: val.name,
            value: val._id,
          }));
          this.options.push(...motivos);
        });
    },
  },
  async mounted() {
    await this.listado();
    await this.getMotivosPermisos();
    await this.getMotivosFaltas();
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
