<template>
  <q-page class="bg-white">
    <q-virtual-scroll v-if="!loading" :items="list" class="my-body">
      <template v-slot="{ item, index }">
        <q-item :key="index" clickable>
          <q-item-section v-if="item.search">
            <q-input
              label="Buscar"
              v-model="filter"
              color="n360"
              dense
              borderless
            >
              <template v-slot:append>
                <q-icon name="search" color="n360" />
              </template>
            </q-input>
          </q-item-section>

          <q-item-section v-if="!item.search" class="q-mt-xs">
            <q-item-label
              >Rol:
              {{
                roles.find((v) => v._id == item.rol)
                  ? roles.find((v) => v._id == item.rol).name
                  : "N/A"
              }}
              [ {{ item.estado }} ]</q-item-label
            >
            <q-item-label caption
              >Fecha del Rol:
              {{ $moment(item.fecha_rol).format("YYYY-MM-DD") }}
            </q-item-label>
          </q-item-section>
          <q-item-section side v-if="!item.search">
            <div>
              <q-btn color="n360" icon="more_vert" dense flat round>
                <q-menu>
                  <q-list style="min-width: 100px">
                    <q-item v-if="item.recibi_conforme" clickable v-close-popup>
                      <q-item-section>Ver</q-item-section>
                    </q-item>
                    <q-separator />
                    <q-item
                      v-if="!item.recibi_conforme"
                      clickable
                      v-close-popup
                      @click="recibir(item.rol_id)"
                    >
                      <q-item-section>Recibir Rol</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-btn>
            </div>
          </q-item-section>
        </q-item>
        <q-separator inset />
      </template>
    </q-virtual-scroll>
    <div
      v-if="list.length <= 1"
      class="my-title text-grey-6 text-center text-subtitle1"
    >
      No se encontraron resultados
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import jsPDF from "jspdf";
import "jspdf-autotable";
export default {
  name: "ListadoMobile",
  components: {},
  data() {
    return {
      filter: "",
      dialog_mas: false,
      loading: false,
      rows: [],
      roles: [],
      meses: [
        "",
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre",
      ],
    };
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
    list() {
      let fil = this.rows.filter(
        (v) =>
          !this.filter ||
          this.filter == this.$moment(v.fecha_rol).format("YYYY-MM-DD") ||
          this.filter.toLowerCase() == this.meses[v.month].toLowerCase() ||
          this.filter == v.year
      );
      fil.unshift({
        search: true,
      });
      return fil;
    },
  },
  methods: {
    listado() {
      try {
        this.$api
          .post("roles/listado", {
            user: this.user,
            url: this.company.apiUrl,
          })
          .then((v) => {
            this.rows = [...v.data];
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    recibir(id) {
      this.$q
        .dialog({
          title: "Recibir",
          message: "¿Está seguro de recibir el rol?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          await this.$api.post("roles/recibir", {
            collection: "generate-role-index/" + id,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
          });
          await this.listado();
          this.$q.notify({
            message: "Rol recibido",
            color: "positive",
          });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
  },
  async mounted() {
    await this.listado();
    this.$api
      .post("roles/tipos-roles", {
        user: this.user,
        url: this.company.apiUrl,
      })
      .then((v) => {
        this.roles = v.data;
      });
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
