<template>
  <q-page class="q-pa-sm">
    <div class="bg-white">
      <div class="q-pa-md">
        <q-scroll-area style="height: 580px">
          <!-- Listado -->
          <q-table
            :data="rows"
            :columns="columns"
            :filter="filter"
            :loading="loading"
            row-key="name"
            class="my-title q-mt-lg"
            style="font-size: 15px"
          >
            <template v-slot:top>
              <div class="text-h6">MIS ROLES</div>
              <q-space />
              <q-select
                outlined
                dense
                v-model="filtro"
                label="Filtro"
                color="n360"
                :options="years"
                emit-value
                map-options
                style="width: 250px;"
                @input="getFilter"
              />
              <q-space />
              <q-input
                outlined
                dense
                debounce="300"
                v-model="filter"
                placeholder="Buscar"
                color="n360"
              >
                <template v-slot:append>
                  <q-icon name="search" color="n360" />
                </template>
              </q-input>
            </template>
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="year" :props="props">
                  {{ props.row.year }}
                </q-td>
                <q-td key="month" :props="props">
                  {{ meses[props.row.month] }}
                </q-td>
                <q-td key="rol" :props="props">
                  {{
                    roles.find((v) => v._id == props.row.rol)
                      ? roles.find((v) => v._id == props.row.rol).name
                      : "N/A"
                  }}
                </q-td>
                <q-td key="fecha_rol" :props="props">
                  {{ $moment(props.row.fecha_rol).format("YYYY-MM-DD") }}
                </q-td>
                <q-td key="created_at" :props="props">
                  {{ $moment(props.row.created_at).format("YYYY-MM-DD") }}
                </q-td>
                <q-td key="estado" :props="props">
                  {{ props.row.estado }}
                </q-td>

                <q-td key="actions" :props="props">
                  <q-btn
                    v-if="props.row.recibi_conforme"
                    color="n360"
                    outline
                    label="Ver"
                    size="sm"
                    @click="view(props.row)"
                  />
                  <q-btn
                    v-if="!props.row.recibi_conforme"
                    color="n360"
                    outline
                    label="Recibir Rol"
                    size="sm"
                    @click="recibir(props.row.rol_id)"
                  />
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </q-scroll-area>
      </div>

      <q-dialog
        v-model="dialog"
      >
        <q-card style="width: 500px; max-width: 80vw;">
          <q-toolbar class="bg-n360 text-white">
            <q-btn 
              round 
              flat
              dense
              icon="reply"
              color="white"
              @click="dialog = false"
            />
          </q-toolbar>

          <q-card-section class="q-gutter-y-sm q-ma-md" align="center">
            <div 
              class="text-left text-weight-bold text-n360 bg-grey-3" 
              style="font-size: 22px; padding: 8px 16px;"
            >
              {{header.year}} {{header.month}} {{header.rol}}
            </div>
            <q-expansion-item
              header-class="text-left text-weight-bold text-n360"
              header-style="font-size: 22px"
              expand-separator
              :label="`Ingresos $${Number(empleados.total_ingresos.toFixed(2))}`"
            >
              <q-card class="text-n360 text-weight-bold">
                <q-card-section>
                  <table class="q-pa-md" style="font-size: 16px; width: 320px">
                    <tr>
                      <td>
                        <li
                        style="text-align: left; list-style-type: none"
                        v-for="(value, name) in nuevo"
                        :key="name"
                        >
                        {{ value.name }}
                        </li>
                      </td>
                      <td style="text-align: right; ">
                        <li
                          style="list-style-type: none"
                          v-for="(value, name) in nuevo"
                          :key="name"
                        >
                          {{ value.value }}
                        </li>
                        </td>
                    </tr>
                  </table>
                </q-card-section>
              </q-card>
            </q-expansion-item>
            <q-expansion-item
              header-class="text-left text-weight-bold text-n360"
              header-style="font-size: 22px"
              expand-separator
              :label="`Egresos $${Number(empleados.tot_des.toFixed(2))}`"
            >
              <q-card class="text-n360 text-weight-bold">
                <q-card-section>
                  <table class="q-pa-md" style="font-size: 16px; width: 320px">
                    <tr>
                      <td>
                        <li style="list-style-type: none" v-for="(name, key) in names" :key="key">
                        {{ name }}
                        </li>
                      </td>
                        
                      <td style="text-align: right">
                        <li
                        style="list-style-type: none"
                        v-for="(value, key) in valus"
                        :key="key">
                        {{ value }}
                        </li>
                      </td>	
                    </tr>
                  </table>
                </q-card-section>
              </q-card>
            </q-expansion-item>
            <div 
              class="text-left text-weight-bold text-white bg-n360" 
              style="font-size: 22px; padding: 8px 16px;"
            >
              Neto a recibir {{ '$' + new Number(empleados.net).toFixed(2) }}
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import "jspdf-autotable";
export default {
  name: "ListadoDesktop",
  components: {},
  data() {
    return {
      filter: "",
      dialog_mas: false,
      loading: false,
      rows: [],
      ver_mas: {},
      columns: [
        {
          name: "year",
          required: true,
          label: "Año",
          align: "left",
          field: "year",
          sortable: true,
        },
        {
          name: "month",
          required: true,
          label: "Mes",
          align: "center",
          field: "month",
          sortable: true,
        },
        {
          name: "rol",
          required: true,
          label: "Rol",
          align: "center",
          field: "rol",
          sortable: true,
        },
        {
          align: "left",
          name: "fecha_rol",
          label: "Fecha del rol",
          field: "fecha_rol",
          align: "center",
        },
        {
          align: "left",
          name: "created_at",
          label: "Fecha de generación",
          field: "createdAt",
          align: "center",
        },
        {
          name: "estado",
          label: "Estado",
          field: "estado",
          align: "right",
        },
        { name: "actions", align: "right", label: "Acciones", sortable: true },
      ],
      roles: [],
      meses: [
        "",
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre",
      ],
      filtro: String(this.$moment().year()),
      dialog: false,

      ingre_result: [],
      egre_result: [],
      prov_result: [],
      rubros: {
        ingresos: [
          'hr_25',
          'hs_50',
          'he_100',
        ],
        egresos: [
        ],
        provisiones: ['vacaciones_p', 'fondo_reserva_p', 'iess_125', 'dmo_tercero', 'dmo_cuarto'],
			},
      empleados: {
        total_ingresos: 0,
        tot_des: 0
      },
      incentivos: [],
      valus: [],
      names: [],
      header: {
        year: '',
        rol: '',
        month: ''
      },
      ingresos:[],
      nuevo: {},
    };
  },
  watch: {
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
    years() {
      var data = []

      for (var i = this.$moment().year(); i >= 2015; i--) {
        data.push({
          label: i,
          value: i,
        })
      }

      return data
    },
    titulos() {
      var otros = {}
      this.ingre_result
        .filter((v) => v.aportable || v.tarea)
        .forEach((v) => {
          otros[v.id] = v.name
          if (v.tarea) {
            otros['he_50_' + v.id] = 'HE 50% ' + v.name
            otros['he_100_' + v.id] = 'HE 100% ' + v.name
          }
        })

      var otros_no = {}
      this.ingre_result
        .filter((v) => !v.aportable && !v.tarea)
        .forEach((v) => {
          otros_no[v.id] = v.name
        })
      var he_100 = this.empleados.he_100
      var hr_25 = this.empleados.hr_25
      var hs_50 = this.empleados.hs_50
      return {
        ...(this.empleados.rol_id === 'quincena' ? { quincena: 'Anticipo de quincena' } : {}),
        sueldo_ganado: 'Sueldo Ganado',
        v_hr_25: `Horas Extras 25% ${hr_25 ? '(' + hr_25 + 'hs)' : ''}`,
        v_hs_50: `Horas Extras 50% ${hs_50 ? '(' + hs_50 + 'hs)' : ''} `,
        v_he_100: `Horas Extras 100% ${he_100 ? '(' + he_100 + 'hs)' : ''}`,
        ...(this.empleados.config_maternidad === 'estandar'
          ? { valor_maternidad: 'Subsidio por maternidad' }
          : {}),
        ...otros,
        dias_semana_integral: 'Días de semana integral',
        tot_ing_apo: 'Total Ingresos Aportables',
        r_vacaciones:
          this.empleados.tipo_vacaciones == 'norm'
            ? 'Valor Dias Normales Vacaciones'
            : this.empleados.tipo_vacaciones == 'pago'
            ? 'Valor Solo Pago Normales de Vacaciones'
            : this.empleados.tipo_vacaciones == 'anticipo'
            ? 'Valor Vacaciones Anticipadas'
            : '',
        r_vacaciones_adicionales:
          this.empleados.tipo_vacaciones == 'norm'
            ? 'Valor Dias Adicionales Vacaciones'
            : this.empleados.tipo_vacaciones == 'pago'
            ? 'Valor Solo Pago Adicionales Vacaciones'
            : this.empleados.tipo_vacaciones == 'anticipo'
            ? 'Valor Vacaciones Anticipadas Adicionales'
            : '',
        decimo_tercero: 'Décimo tercero',
        decimo_cuarto: 'Décimo cuarto',
        v_fr: 'Fondo de reserva',
        ...otros_no,
        total_ingresos_no_aportables: 'Total Ingresos no aportables',
        valor_prestamo_ing: 'Préstamo Empresa',
        ...this.incentivos
      }
		},
    titulos2() {
				var otros = {}
				this.egre_result.forEach((v) => {
					otros[v.id] = v.name
				})
				this.ingre_result.forEach((v) => {
					otros['the_quincena_' + v.id] = 'Anticipo de ' + v.name
				})
				var he_100 = this.empleados.he_100
				var hr_25 = this.empleados.hr_25
				var hs_50 = this.empleados.hs_50
				return {
					aporte_personal: 'Aporte Personal',
					...(this.empleados.rol_id === 'fdm' ? { quincena: 'Anticipo de quincena' } : {}),
					the_quincena_v_hr_25: `Anticipo Horas Extras 25% ${hr_25 ? '(' + hr_25 + 'hs)' : ''}`,
					the_quincena_v_hs_50: `Anticipo Horas Extras 50% ${hs_50 ? '(' + hs_50 + 'hs)' : ''} `,
					the_quincena_v_he_100: `Anticipo Horas Extras 100% ${he_100 ? '(' + he_100 + 'hs)' : ''}`,
					r_prestamo: 'Préstamo Empresa',
					...(this.empleados.config_maternidad !== 'estandar'
						? { valor_maternidad: 'Descuento por maternidad' }
						: {}),
					r_anticipo: 'Anticipo de sueldo',
					ext_cony: 'Extensión de Cónyugue',
					r_multa: 'Multa',
					capacitaciones_r: 'Capacitaciones',
					r_pension: 'Pension',
					r_permiso_medico: 'Permiso médico',
					r_permisos: 'Permiso',
					falt_inj_r: 'Faltas injustificadas',
					...otros,
					impuesto_renta: 'Impuesto a la renta',
					anticipo_maternidad: 'Anticipo Subsidio por maternidad'
				}
		},
  },
  methods: {
    listado() {
      try {
        this.$api
          .post("roles/listado", {
            user: this.user,
            url: this.company.apiUrl,
            year: this.filtro
          })
          .then((v) => {
            this.rows = v.data;
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    recibir(id) {
      this.$q
        .dialog({
          title: "Recibir",
          message: "¿Está seguro de recibir el rol?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          await this.$api.post("roles/recibir", {
            collection: "generate-role-index/" + id,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
          });
          await this.listado();
          this.$q.notify({
            message: "Rol recibido",
            color: "positive",
          });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
    getFilter(){
      this.listado()
    },
    async view(rows) {
      this.dialog = true

      // HEADER
      this.header.year = rows.year
      this.header.month = this.meses[rows.month] 
      this.header.rol = this.roles.find((v) => v._id == rows.rol) ? 
                        this.roles.find((v) => v._id == rows.rol).name :
                        "N/A"
      
      await this.consulta(rows.rol_id)
      if(rows.estado == 'Sin visualizar') {
        await this.$api.post("roles/visualizar", {
          collection: "generate-role-index/" + rows.rol_id,
          url: this.company.apiUrl,
          company: this.user.data.__company__,
          parent_company: this.user.data.parent_company,
        });  
        await this.listado();
      }
                        
    },
    getRubros() {
      try {
			
        this.$api
          .post("rubros/rubros-ingreso", {
            company: this.user.data.__company__,
            url: this.company.apiUrl,
          })
          .then((v) => {
            this.ingre_result = v.data.filter((v) => this.rubros.ingresos.indexOf(v.id) === -1)
          });
        this.$api
          .post("rubros/rubros-egreso", {
            company: this.user.data.__company__,
            url: this.company.apiUrl,
          })
          .then((v) => {
            this.egre_result = v.data.filter((v) => this.rubros.egresos.indexOf(v.id) === -1)
          });
        this.$api
          .post("rubros/rubros-provisiones", {
            company: this.user.data.__company__,
            url: this.company.apiUrl,
          })
          .then((v) => {
            this.prov_result = v.data.filter((v) => this.rubros.provisiones.indexOf(v.id) === -1)
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    async consulta(rol) {
      var he_tareas = []

      this.ingre_result
        .filter((v) => v.tarea)
        .forEach((v) => {
          he_tareas.push({
            id: 'he_50_' + v.id,
          })
          he_tareas.push({
            id: 'he_100_' + v.id,
          })
        })
      this.$api
        .post("roles/role-index", {
          url: this.company.apiUrl,
          conditions: {
            _id: rol
          }
        })
        .then(async (v) => {
          this.empleados = v['data']['0']

          if (this.empleados.preparacion_incentivos_ && this.empleados.preparacion_incentivos_.length) {
            this.empleados.preparacion_incentivos_.forEach(i => {
              this.incentivos['incentivo_' + i.id] = 'Incentivo' + ' ' +  i.name
            })
          }
          if (this.empleados.rol_id == 'fdm') {

            var quincena_
            await this.$api
              .post("roles/role-index", {
                url: this.company.apiUrl,
                conditions: {
                  rol_id: {
                    $in: ['quincena', 'semana-1', 'semana-2', 'semana-3', 'semana-4'],
                  },
                  anho_rol: this.empleados.anho_rol,
                  mes_rol: this.empleados.mes_rol,
                  contrato_empleado: this.user.empleado_id,
                }
              }).then(async (v) => {
                quincena_ = v.data
              })

            var quincena = {}

            quincena_.forEach((v) => {
              for (var r in v) {
                if (typeof v[r] === 'number') {
                  if (!quincena[r]) quincena[r] = 0
                  quincena[r] += v[r]
                }
              }
            })

            await this.$api
              .post("roles/role-index", {
                url: this.company.apiUrl,
                conditions: {
                  anho_rol: this.empleados.anho_rol,
                  mes_rol: this.empleados.mes_rol,
                  contrato_empleado: this.user._id,
                  rol_id: 'quincena'
                }
              }).then(async (v) => {
                let data = v.data
                for (const prop in data) {
                  if (data[prop] > 0) {
                    let a = this.titulos2[prop]
                    let b = '$' + new Number(data[prop]).toFixed(2)
                    this.nuevo2[a] = b
                  }
                }
              })
            var rubros_ingresos = [
              'sueldo_ganado',
              'v_hr_25',
              'v_hs_50',
              'v_he_100',
              ...(this.empleados.preparacion_incentivos_ && this.empleados.preparacion_incentivos_.length ? 
              this.empleados.preparacion_incentivos_.map((v) => 'incentivo_' + v.id) : ''),
            ]

            if (this.empleados.rol_id === 'quincena') rubros_ingresos.push('quincena')

            if (this.empleados.config_maternidad === 'estandar') rubros_ingresos.push('valor_maternidad')

            rubros_ingresos = [
              ...rubros_ingresos,
              ...he_tareas.map((v) => v.id),
              ...this.ingre_result.filter((v) => v.aportable || v.tarea).map((v) => v.id),
              'dias_semana_integral',
              'tot_ing_apo',
              'r_vacaciones',
              'r_vacaciones_adicionales',
              'decimo_tercero',
              'decimo_cuarto',
              'v_fr',
              ...this.ingre_result
                .filter((v) => !v.aportable && !v.tarea && v.id !== 'ajuste_ir')
                .map((v) => v.id),
            ]
            rubros_ingresos.push('valor_prestamo_ing')
            rubros_ingresos.push('total_ingresos_no_aportables')
            
            await this.$api
              .post("roles/role-index", {
                url: this.company.apiUrl,
                conditions: {
                  _id: rol
                }
              }).then(async (v) => {
                this.ingresos = v['data']['0']
                var elObjeto = []
                for (const i in rubros_ingresos) {
                  var prop = rubros_ingresos[i]
                  if (this.ingresos[prop] > 0) {
                    let a = this.titulos[prop]
                    let b = '$' + new Number(this.ingresos[prop]).toFixed(2)
                    elObjeto.push({ name: a, value: b })
                  }
                }

                this.nuevo = elObjeto
              })

            var rubros_egresos = [
              'aporte_personal',
              'quincena',
              'r_prestamo',
              'r_anticipo',
              'ext_cony',
              'r_multa',
              'capacitaciones_r',
              'r_pension',
              'r_permiso_medico',
              'r_permisos',
              'falt_inj_r',
              ...this.egre_result.filter((v) => v.id !== 'ajuste_ir_eg').map((v) => v.id),
              'impuesto_renta',
              'anticipo_maternidad',
            ]

            if (this.empleados.config_maternidad !== 'estandar') rubros_egresos.push('valor_maternidad')
            

            await this.$api
              .post("roles/role-index", {
                url: this.company.apiUrl,
                conditions: {
                  _id: rol
                }
              }).then(async (v) => {
                this.egresos = v['data']['0']
                var elObjeto = new Object()
                for (const prop in this.egresos) {
                  if (this.egresos[prop] > 0) {
                    if (!this.titulos2[prop]) continue
                    let a = this.titulos2[prop]
                    let b = '$' + new Number(this.egresos[prop]).toFixed(2)
                    elObjeto[a] = b
                  }
                }
                rubros_ingresos.forEach((v) => {
                  if (quincena[v] && this.titulos2['the_quincena_' + v])
                    elObjeto[this.titulos2['the_quincena_' + v]] = '$' + new Number(quincena[v]).toFixed(2)
                })
                this.nuevo2 = elObjeto
                let names = []
                let valus = []
                this.names = []
                this.valus = []
                for (let prop in this.nuevo2) {
                  this.names.push(prop)
                  this.valus.push(this.nuevo2[prop])
                }
                let n1 = Object.keys(this.nuevo).length
                let n2 = Object.keys(this.nuevo2).length
                if (n1 > n2) {
                  n1 = n1 - n2
                  for (let index = 0; index < n1; index++) {
                    this.names.push('    ')
                    this.valus.push('    ')
                    Object.defineProperty(this.nuevo2, index, {
                      value: index,
                      writable: true,
                      enumerable: true,
                      configurable: true,
                    })
                  }
                }
              })
          } else {
            var rubros_ingresos = [
              'sueldo_ganado',
              'v_hr_25',
              'v_hs_50',
              'quincena',
              'v_he_100',
              ...(this.empleados.preparacion_incentivos_ && this.empleados.preparacion_incentivos_.length ? 
              this.empleados.preparacion_incentivos_.map((v) => 'incentivo_' + v.id) : ''),
              'valor_maternidad',
              ...he_tareas.map((v) => v.id),
              ...this.ingre_result.filter((v) => v.aportable || v.tarea).map((v) => v.id),
              'dias_semana_integral',
              'tot_ing_apo',
              'r_vacaciones',
              'r_vacaciones_adicionales',
              'decimo_tercero',
              'decimo_cuarto',
              'v_fr',
              ...this.ingre_result.filter((v) => !v.aportable && !v.tarea).map((v) => v.id),
              'total_ingresos_no_aportables',
            ]

            await this.$api
              .post("roles/role-index", {
                url: this.company.apiUrl,
                conditions: {
                  _id: rol
                }
              }).then(async (v) => {
                this.ingresos = v['data']['0']
                var elObjeto = []
                for (const i in rubros_ingresos) {
                  var prop = rubros_ingresos[i]
                  if (this.ingresos[prop] > 0) {
                    let a = this.titulos[prop]
                    let b = '$' + new Number(this.ingresos[prop]).toFixed(2)
                    elObjeto.push({ name: a, value: b })
                  }
                }

                this.nuevo = elObjeto
              })

            await this.$api
              .post("roles/role-index", {
                url: this.company.apiUrl,
                conditions: {
                  _id: rol
                }
              }).then(async (v) => {
                this.egresos = v['data']['0']
                var elObjeto = new Object()
                for (const prop in this.egresos) {
                  if (this.egresos[prop] > 0) {
                    let a = this.titulos2[prop]
                    let b = '$' + new Number(this.egresos[prop]).toFixed(2)
                    elObjeto[a] = b
                  }
                }

                for (var i in quincena) {
                  elObjeto['quincena_' + i] = quincena[i]
                }

                this.nuevo2 = elObjeto
                let names = []
                let valus = []
                this.names = []
                this.valus = []
                for (let prop in this.nuevo2) {
                  this.names.push(prop)
                  this.valus.push(this.nuevo2[prop])
                }
                let n1 = Object.keys(this.nuevo).length
                let n2 = Object.keys(this.nuevo2).length
                if (n1 > n2) {
                  n1 = n1 - n2
                  for (let index = 0; index < n1; index++) {
                    this.names.push('    ')
                    this.valus.push('    ')
                    Object.defineProperty(this.nuevo2, index, {
                      value: index,
                      writable: true,
                      enumerable: true,
                      configurable: true,
                    })
                  }
                }
              })
          }
        })
    },
  },
  async mounted() {
    await this.listado();
    await this.getRubros()
    this.$api
      .post("roles/tipos-roles", {
        user: this.user,
        url: this.company.apiUrl,
      })
      .then((v) => {
        this.roles = v.data;
      });
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
