<template>
  <q-page class="q-pa-sm">
    <div class="bg-white">
      <div class="q-pa-md">
        <q-btn
          @click="solicitar"
          label="Solicitar"
          class="btn-n360 my-title"
          v-if="tipo_prestamo"
        />
      </div>
      <div class="text-weight-bold text-h6 text-grey-6 my-title text-center">
        Aprobador de Departamento ({{ mi_aprobador }})
      </div>
      <div class="q-pa-md my-body">
        <div v-if="modulo && !tipo_prestamo && !form._id" class="text-center">
          <q-select
            label="Tipo de Préstamo"
            :options="[
              { label: 'Regular', value: 'regular' },
              { label: 'Préstamo Calamidad', value: 'calamidad' },
            ]"
            v-model="tipo_prestamo"
            emit-value
            map-options
            style="width: 350px"
            color="n360"
          />
          <div class="q-pt-md">
            <q-checkbox
              v-model="form.approve_gerencia"
              label="Aprobado Sobre Endeudamiento por Gerencia"
            />
          </div>
        </div>
        <div>
          <div class="row items-center q-gutter-x-md">
            <div style="width: 300px">
              <q-input
                ref="motivo"
                v-model="form.motivo"
                label="Motivo"
                autofocus
                :disable="ocultar_variables"
                color="n360"
                :rules="[(val) => !!val || '* Requerido', ,]"
              />
            </div>
            <div style="width: 300px">
              <q-input
                ref="date"
                label="Fecha"
                v-model="form.date"
                :disable="ocultar_variables"
                color="n360"
                readonly
                :rules="[(val) => !!val || '* Requerido', ,]"
              >
                <template v-slot:prepend>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy
                      cover
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-date
                        v-model="form.date"
                        mask="YYYY-MM-DD"
                        color="n360"
                        :navigation-max-year-month="max"
                        :navigation-min-year-month="min"
                      >
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="cerrar" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div style="width: 300px">
              <q-input
                ref="amount"
                v-model="form.amount"
                label="Monto"
                color="n360"
                type="number"
                @input="conCantidad"
                :disable="ocultar_variables"
                :rules="[(val) => !!val || '* Requerido', ,]"
                :hint="'Monto máximo ' + max_monto + '$'"
              />
            </div>
            <div style="width: 300px">
              <q-select
                ref="dues"
                color="n360"
                v-model="form.dues"
                :options="cuotas"
                label="Cuotas"
                emit-value
                map-options
                @input="conCuotas"
                :disable="!form.amount || ocultar_variables"
                :rules="[(val) => !!val || '* Requerido', ,]"
              />
            </div>
            <div style="width: 300px">
              <div class="text-grey-6">Reflejar como ingreso</div>
              <q-radio
                color="n360"
                v-model="form.ingreso"
                :val="true"
                label="Si"
                :disable="ocultar_variables"
              />
              <q-radio
                color="n360"
                v-model="form.ingreso"
                :val="false"
                label="No"
                :disable="ocultar_variables"
              />
            </div>
            <div style="width: 300px">
              <q-list bordered class="rounded-borders">
                <q-expansion-item
                  expand-separator
                  dense
                  dense-toggle
                  icon="upload"
                  label="Cargar comprobante"
                  header-class="text-n360"
                >
                  <q-card>
                    <q-card-section>
                      <q-uploader
                        v-if="!form.file"
                        class="text-left"
                        color="purple-10"
                        style="max-width: 270px; color: #7a2ddb"
                        label="Archivo"
                        @added="getRuta"
                        @removed="(file = null), (file_ = false)"
                        accept=".jpg, .jpeg, .png, .pdf, image/*"
                        :readonly="file_"
                      />
                      <div v-else class="my-title text-center">
                        <p>Eliminar comprobante y recargar</p>
                        <q-btn
                          label="Eliminar"
                          color="n360"
                          outline
                          @click="removeFile(form.file)"
                        />
                      </div>
                    </q-card-section>
                  </q-card>
                </q-expansion-item>
              </q-list>
            </div>
          </div>
          <div v-if="form.dues" class="sroll">
            <q-scroll-area style="width: 100%; height: 60vh">
              <p class="text-h5 text-grey-6 text-weight-bold q-mt-xl">Cuotas</p>

              <div
                class="row q-gutter-x-md"
                v-for="(cuota, key) in form.cuotas"
                :key="key"
              >
                <div class="col">
                  <q-input
                    type="number"
                    color="n360"
                    v-model="cuota.year"
                    label="Año"
                    :disable="
                      cuotas_pagadas.cuotas.length > 0
                        ? cuotas_pagadas.cuotas[key].estatus
                        : false
                    "
                  />
                </div>

                <div class="col">
                  <q-select
                    color="n360"
                    v-model="cuota.month"
                    :options="[
                      { label: 'Enero', value: 1 },
                      { label: 'Febrero', value: 2 },
                      { label: 'Marzo', value: 3 },
                      { label: 'Abril', value: 4 },
                      { label: 'Mayo', value: 5 },
                      { label: 'Junio', value: 6 },
                      { label: 'Julio', value: 7 },
                      { label: 'Agosto', value: 8 },
                      { label: 'Septiembre', value: 9 },
                      { label: 'Octubre', value: 10 },
                      { label: 'Noviembre', value: 11 },
                      { label: 'Diciembre', value: 12 },
                    ]"
                    label="Mes"
                    @input="changeMonth(cuota.month, key, cuota)"
                    emit-value
                    map-options
                    :disable="
                      cuotas_pagadas.cuotas.length > 0
                        ? cuotas_pagadas.cuotas[key].estatus
                        : false
                    "
                  />
                </div>

                <div class="col">
                  <q-select
                    :options="rols"
                    label="Rol"
                    color="n360"
                    v-model="cuota.rol"
                    emit-value
                    map-options
                    @input="changeRol(cuota)"
                    :disable="
                      cuotas_rol.cuotas.length > 0
                        ? cuotas_rol.cuotas[key].estatus
                        : false
                    "
                  />
                </div>

                <div class="col">
                  <q-input
                    type="number"
                    color="n360"
                    v-model="cuota.amount"
                    label="Monto"
                    @input="cambioCuotas(cuota, key)"
                    :decimals="2"
                    suffix="$"
                    :disable="
                      cuotas_pagadas.cuotas.length > 0
                        ? cuotas_pagadas.cuotas[key].estatus
                        : false
                    "
                  />
                </div>

                <div class="col">
                  <q-input
                    readonly
                    type="number"
                    color="n360"
                    v-model="cuota.interest"
                    label="intereses"
                    :decimals="2"
                    suffix="$"
                    :disable="
                      cuotas_pagadas.cuotas.length > 0
                        ? cuotas_pagadas.cuotas[key].estatus
                        : false
                    "
                  />
                </div>
                <div class="col">
                  <q-input
                    color="n360"
                    readonly
                    type="number"
                    label="Total"
                    :value="cuota.amount"
                    :decimals="2"
                    suffix="$"
                  />
                </div>
              </div>
            </q-scroll-area>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "SolicitarDesktop",
  data() {
    return {
      form: {
        approve_gerencia: false,
        ingreso: false,
        cuotas: [],
        employee: null,
      },
      config: {},
      cuotas_pagadas: { cuotas: [] },
      cuotas_rol: { cuotas: [] },
      roles: [],
      ocultar_variables: false,
      tipo_prestamo: "regular",
      modulo: null,
      max: this.$moment().format("YYYY/MM"),
      min: this.$moment().format("YYYY/MM"),
      max_monto: null,
      mi_aprobador: null,

      file: null,
      file_: false,
      collection: null,
      roles_gen: []
    };
  },
  watch: {
    async tipo_prestamo(val) {
      if (val == "calamidad" && !this.form._id) {
        const res = await this.prestamosPendientes();
        if (!res) return;
        const res2 = await this.capacidadEndeudamiento();
        if (!res2) return;
      }
    },
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
    cuotas() {
      let cuotas = [];
      for (let i = this.config.min_cuotas; i <= this.config.max_cuotas; i++) {
        cuotas.push({
          label: "" + i,
          value: "" + i,
        });
      }
      return cuotas;
    },
    rols() {
      return this.roles.map((val) => {
        return {
          label: val.name,
          value: val._id,
        };
      });
    },
  },
  methods: {
    async solicitar() {
      this.$refs.motivo.validate();
      this.$refs.date.validate();
      this.$refs.amount.validate();
      this.$refs.dues.validate();

      if (
        this.$refs.motivo.hasError ||
        this.$refs.date.hasError ||
        this.$refs.amount.hasError ||
        this.$refs.dues.hasError
      ) {
        return this.$q.notify({
          message: "Campos requeridos",
          color: "negative",
        });
      }

      if (this.form.amount <= 0) {
        this.$q.notify({
          message: "El monto no puede ser un valor negativo",
          color: "negative",
        });
        return;
      }

      if (this.form.amount > this.max_monto) {
        this.$q.notify({
          message: "El monto excede el porcentaje establecido",
          color: "negative",
        });
        return;
      }

      this.$q.loading.show();
      // SUBIR ARCHIVO
      let find_file = false;
      if (this.file) {
        const route = await this.uploadFile();
        this.form["file"] = route;
        this.file = null;
        this.file_ = false;
        find_file = true;
      }

      if (this.form._id) {
        this.form.tipo_prestamo = this.form.tipo_prestamo
          ? this.form.tipo_prestamo
          : this.tipo_prestamo;
      } else {
        this.form.tipo_prestamo = this.tipo_prestamo;
      }

      if (!this.form._id) this.form.employee = this.user._id;

      this.form.date = this.$moment(this.form.date)
      await this.$api
        .post("prestamos/solicitar", {
          user: this.user,
          url: this.company.apiUrl,
          company: this.user.data.__company__,
          parent_company: this.user.data.parent_company,
          data: this.form,
          file: find_file,
        })
        .then((val) => {
          this.form = {
            ingreso: false,
          };
          this.$q.loading.hide();
          this.$q.notify({
            message: `Prestamo ${
              this.$route.params.id ? "modificado" : "solicitado"
            } con exito`,
            color: "positive",
          });
          if (this.$route.params.id) this.$router.push("/mis-prestamos/lista");
        })
        .catch((error) => {
          this.$q.loading.hide();
          this.$q.notify({
            message: error,
            color: "negative",
          });
        });
    },
    async conCantidad(val) {
      if (this.tipo_prestamo == "regular") return;
      if (!this.form.approve_gerencia) {
        if (this.form.amount > this.max_monto)
          this.$q.notify({
            message: "El monto Excede la cantidad máxima establecida",
            color: "negative",
          });
      }
      this.form.amount = val;
      this.setCuotas();
    },
    conCuotas(val) {
      this.form.dues = val;
      this.setCuotas();
    },
    async setCuotas() {
      const tiempo_gracia = this.config.tiempo_gracia;

      let prestamo = this.form.amount;
      const interes = this.form.interest;
      const cuota = this.form.dues;

      const valCuota = Number((prestamo / cuota).toFixed(2));

      if (this.form.amount && this.form.dues) {
        this.form.cuotas = [];
        let date = this.$moment();
        const last_role = this.roles_gen.find(f => 
            f.year == date.year() &&
            f.month == date.month() + 1 &&
            f.rol == this.roles[0]._id,
          )
          if(last_role) 
            date.add(1, "months")

        let restante = this.form.amount;
        for (let i = 0; i < this.form.dues; i++) {

          if (this.form.cuotas[i]) {
            date.add(1, "months");
            continue;
          }
          if (i == 0) {
            date.add(tiempo_gracia, "months");
          }

          if (this.form.interest) {
            const porcentaje = (prestamo * interes) / 100;
          }
          let ajuste = 0;
          let dif =
            restante - Number((this.form.amount / this.form.dues).toFixed(2));
          if (dif > 0 && dif <= 0.2) ajuste = Number(dif.toFixed(2));

          this.form.cuotas.push({
            year: date.year(),
            month: date.month() + 1,
            rol: this.roles[0]._id,
            amount: Number(
              (this.form.amount / this.form.dues + ajuste).toFixed(2)
            ),
            interest: this.form.interest
              ? Number(((restante * interes) / 100 / 12).toFixed(2))
              : 0,
          });
          date.add(1, "months");
          if (this.form.interest) {
            prestamo -= valCuota;
          }
          restante =
            restante - Number((this.form.amount / this.form.dues).toFixed(2));
        }
        for (let i = this.form.dues; i < this.form.cuotas.length; i++) {
          this.form.cuotas.splice(i, 1);
        }
      }
    },
    async prestamosPendientes() {
      if (!this.form.approve_gerencia) {
        await this.$api
          .post("prestamos/pendientes-calamidad", { user: this.user._id })
          .then((val) => {
            if (val.data) {
              this.tipo_prestamo = null;
              this.$q
                .dialog({
                  title: "ATENCIÓN",
                  message:
                    "No califica para préstamo de calamidad, tiene otro préstamo activo.",
                  ok: true,
                  preventClose: true,
                })
                .onOk(() => {})
                .onCancel(() => {});
              return false;
            }
          });
      }
      return true;
    },
    async capacidadEndeudamiento() {
      if (!this.form.approve_gerencia) {
        await this.$api
          .post("prestamos/capacidad-endeudamiento", { user: this.user._id })
          .then((val) => {
            if (!val.data) {
              this.tipo_prestamo = null;
              this.$q
                .dialog({
                  title: "ATENCIÓN",
                  message:
                    "No califica para préstamo de calamidad, su capaciadad de endeudamiento es muy baja. Es decir el 40% del total de ingreso del ultimo mes es menor al total de egreso",
                  ok: true,
                  preventClose: true,
                })
                .onOk(() => {})
                .onCancel(() => {});
              return false;
            }
          });
      }
      return true;
    },
    cambioCuotas(cuota_aux, key) {
      let prestamo = this.form.amount;
      const interes = this.form.interest;
      const cuota = this.form.dues;
      const valCuota = prestamo / cuota;
      let suma = new Number(),
        restante = new Number(),
        nuevo = new Number(),
        posicion = "",
        activo = true;
      for (let x = 0; x < this.form.cuotas.length; x++) {
        suma += this.form.cuotas[x].amount;
        if (x === key && activo) {
          restante = this.form.amount - suma;
          nuevo = restante / (this.form.cuotas.length - x - 1);
          posicion = x;
          activo = false;
          if (this.form.interest) {
            for (let i = 0; posicion > i; i++) {
              if (x === posicion) {
                prestamo -= valCuota;
                let porcentaje = (prestamo * interes) / 100 / 12;
                this.form.cuotas[x].interest = porcentaje;
              }
            }
            prestamo -= val;
          }
        }
        if (x > posicion && typeof posicion == "number") {
          if (this.form.interest) {
            const porcentaje = (prestamo * interes) / 100 / 12;
          }
          this.form.cuotas[x].amount = nuevo;
          this.form.cuotas[x].interest = this.form.interest
            ? porcentaje
            : "sin interes";

          if (this.form.interest) {
            prestamo -= nuevo;
          }
        }
      }
    },
    changeMonth(props, key, cuota) {
      const last_role = this.roles_gen.find(f => 
        f.year == cuota.year &&
        f.month == cuota.month &&
        f.rol == cuota.rol,
      )
      if(last_role) {
        this.$q.notify({
          message:
            "Según el mes, año y rol ya hay rol de pago generado, por favor cambia el rol o el mes de la cuota",
          type: "negative",
        });
      }

      let position = key;
      const fecha = this.$moment(this.form.date).format("YYYY-MM");
      let fecha3;
      let fecha_cuota = this.$moment(
        `${this.form.cuotas[key].year}-${this.form.cuotas[key].month}-01`
      ).endOf("month");

      if (key > 0) {
        const comprobar =
          this.form.cuotas[position--].year +
          "-" +
          this.form.cuotas[position--].month;
        fecha3 = this.$moment(comprobar).format("YYYY-MM");
      }

      if (
        props === 1 &&
        this.form.date &&
        this.$moment(this.form.date).isAfter(fecha_cuota)
      ) {
        this.form.cuotas[key].year++;
        this.form.cuotas[key].year = this.form.cuotas[key].year;
      }
      const year = this.form.cuotas[key].year;
      const month = props;
      const date = year + "-" + month;

      const fecha2 = this.$moment(date).format("YYYY-MM");
      if (fecha2 < fecha || (key > 0 && fecha2 <= fecha3)) {
        this.$q.notify({
          message:
            "La fecha de la cuota debe ser mayor a la fecha del prestamo o mayor a la cuota anterior",
          type: "negative",
        });
        this.form.cuotas[key].month = this.form_aux.cuotas[key].month;
        return;
      }

      const slice = this.form.cuotas.slice(key);
      const length = slice.length - 1;
      let num = 0;
      for (let i = 0; i < length; i++) {
        num++;
        key++;
        const date2 = this.$moment(date).add(num, "months").format("YYYY-MM");
        this.form.cuotas[key].month = Number(this.$moment(date2).format("M"));
        this.form.cuotas[key].year = Number(this.$moment(date2).format("YYYY"));
      }
    },
    changeRol(row) {
      const last_role = this.roles_gen.find(f => 
        f.year == row.year &&
        f.month == row.month &&
        f.rol == row.rol,
      )
      if(last_role) {
        this.$q.notify({
          message:
            "Según el mes, año y rol ya hay rol de pago generado, por favor cambia el rol o el mes de la cuota",
          type: "negative",
        });
      }
    },
    async getRuta(ruta) {
      this.file = ruta;
      this.file_ = true;
    },
    async getDoc() {
      if (this.$route.params.id) {
        this.collection = String(this.$route.params.id).replace("+", "/");
        const res = await this.$api.post("prestamos/get-prestamo", {
          collection: this.collection,
          url: this.company.apiUrl,
          company: this.user.data.__company__,
          parent_company: this.user.data.parent_company,
        });
        this.form = res.data;
      }
    },
    async uploadFile() {
      let route = null;
      await this.$files(
        "/prestamos/upload-file",
        "comprobantes-prestamos/" + this.file[0].name,
        { company: this.user.data.__company__, user: this.user.data._id }
      )
        .put(this.file[0])
        .then(async (ruta) => {
          route = ruta;
        })
        .catch((e) => {
          this.$q.loading.hide();
          this.$q.notify({
            message: "hubo un error al cargar el archivo",
            color: "negative",
          });
        });

      return route;
    },
    async removeFile(file) {
      this.$q
        .dialog({
          title: "Eliminar",
          message: "¿Está seguro de eliminar el comprobante?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          this.$api
            .post("prestamos/remove-file", {
              file: file,
              collection: this.collection,
              url: this.company.apiUrl,
              company: this.user.data.__company__,
              parent_company: this.user.data.parent_company,
              data: this.form,
            })
            .then(async (v) => {
              await this.getDoc();
            });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
    async rolesGen() {
      this.$api
        .post("roles/roles", {
          user: this.user,
          url: this.company.apiUrl,
        })
        .then(async (v) => {
          if(v.data.length) {
            this.roles_gen = v.data
          }
        });
    },
  },
  async mounted() {
    await this.$api
      .post("prestamos/tipo-sueldo", {
        user: this.user.data._id,
        url: this.company.apiUrl,
        company: this.user.data.__company__,
      })
      .then((val) => {
        this.roles = val.data;
      });
    await this.$api
      .post("prestamos/configuracion-prestamos", {
        url: this.company.apiUrl,
        company: this.user.data.__company__,
      })
      .then((val) => {
        this.config = val.data || {
          min_cuotas: 1,
          max_cuotas: 12,
          porcentaje: 0,
          tiempo_gracia: 1,
        };
      });

    await this.getDoc();

    if (this.tipo_prestamo == "regular")
      await this.$api
        .post("prestamos/monto-maximo", {
          user: this.user.data._id,
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((val) => {
          this.max_monto = val.data;
        });

    await this.$api
      .post("prestamos/mi-aprobador", {
        user: this.user.data._id,
        url: this.company.apiUrl,
        company: this.user.data.__company__,
      })
      .then((val) => {
        this.mi_aprobador = val.data;
      });
    await this.rolesGen()
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
