<template>
  <q-page class="q-pa-sm">
    <q-splitter class="bg-white" horizontal v-model="splitterModel">
      <template v-slot:before>
        <div class="q-pa-md my-title text-subtitle1">
          <q-tree
            :nodes="data"
            node-key="label"
            selected-color="n360"
            :selected.sync="selected"
            default-expand-all
            accordion
            ref="tree"
          />
        </div>
      </template>

      <template v-slot:after>
        <q-tab-panels
          v-model="selected"
          animated
          transition-prev="jump-up"
          transition-next="jump-up"
        >
          <q-tab-panel :name="selected">
            <q-card bordered class="my-card" v-if="!loading">
              <q-card-section class="text-grey-4 bg-n360 my-title">
                <div class="text-h5">
                  {{ form.label }}
                </div>
                <div class="text-subtitle1">
                  Jefe: {{ form.jefe_dpt_label }}
                </div>
              </q-card-section>

              <q-separator inset />

              <q-card-section>
                <div class="my-title text-center">Aprobadores</div>
                <q-list
                  dense
                  bordered
                  class="rounded-borders text-left my-body text-subtitle2 text-weight-bold"
                >
                  <q-item>
                    <q-item-section>
                      <q-item-label>Anticipos:</q-item-label>
                      <q-item-label caption>{{
                        form.approve_anticipos
                      }}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section>
                      <q-item-label>Anticipos:</q-item-label>
                      <q-item-label caption>{{
                        form.approve_prestamos
                      }}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section>
                      <q-item-label>Permisos:</q-item-label>
                      <q-item-label caption>{{
                        form.approve_permisos
                      }}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section>
                      <q-item-label>Vacaciones:</q-item-label>
                      <q-item-label caption>{{
                        form.approve_vacaciones
                      }}</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-card-section>
            </q-card>

            <q-card class="q-mt-md" style="height: 300px">
              <q-card-section>
                <div class="my-title text-center q-pb-xs">
                  Empleados dentro del departemento
                </div>
                <q-virtual-scroll
                  style="max-height: 300px"
                  :items="form.employees"
                  separator
                  class="rounded-borders my-body"
                  bordered
                >
                  <template v-slot="{ item, index }">
                    <q-item :key="index" dense>
                      <q-item-section>
                        <q-item-label>
                          {{ item.last_name }} {{ item.name }}</q-item-label
                        >
                        <q-item-label caption>{{ item.email }}</q-item-label>
                      </q-item-section>
                      <q-item-section side>
                        <q-item-label caption>{{
                          $moment(item.birthdate).format("MM-DD")
                        }}</q-item-label>
                      </q-item-section>
                    </q-item>
                  </template>
                </q-virtual-scroll>
              </q-card-section>
            </q-card>
          </q-tab-panel>
        </q-tab-panels>

        <div class="q-py-xl" v-if="loading" align="center">
          <q-spinner color="n360" size="3em" :thickness="10" />
        </div>
      </template>
    </q-splitter>
  </q-page>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ListadoDesktop",
  components: {},
  data() {
    return {
      splitterModel: 30,
      selected: "",
      filter: "",
      data: [],
      form: {},
      loading: false,
    };
  },
  watch: {
    selected(v) {
      if (v) {
        this.loading = true;
        setTimeout(async () => {
          this.$refs.tree.expandAll();
          const res = this.$refs.tree.getNodeByKey(v);
          this.form = res;
          this.loading = false;
        }, 2000);
      }
    },
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
  },
  methods: {
    listado() {
      try {
        this.$q.loading.show();
        this.$api
          .post("departamentos/listado", {
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
            user: this.user.data._id,
          })
          .then((v) => {
            this.data.push(v.data);
            this.selected = v.data.label;
            this.$q.loading.hide();
          });
      } catch (error) {
        this.$q.loading.hide();
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
  },
  async mounted() {
    await this.listado();
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
.my-card {
  width: 100%;
  max-width: 600px;
}
</style>
