<template>
  <div>
    <!-- MOBILE -->
    <Index-mobile v-if="$q.platform.is.mobile" />

    <!-- DESKTOP -->
    <index-desktop v-if="$q.platform.is.desktop" />
  </div>
</template>

<script>
import IndexMobile from "src/pages/Mobile/Aprobadores/IndexMobile.vue";
import IndexDesktop from "src/pages/Desktop/Aprobadores/IndexDesktop.vue";

export default {
  name: "Index",
  components: {
    IndexMobile,
    IndexDesktop,
  },
  data() {
    return {};
  },
};
</script>
