<template>
  <div>
    <div class="text-grey-7 text-h6 text-weight-bold text-center">
      MÁS INOFRMACIÓN
    </div>
    <div class="q-pa-md text-weight-bold text-subtitle2">
      <q-list bordered separator class="rounded-borders">
        <q-item>
          <q-item-section>Motivo:</q-item-section>
          <q-item-section side>
            {{  motivos.find((v) => v.value == form.motivoAnticipo) ? motivos.find((v) => v.value == form.motivoAnticipo).label : 'Sin motivo' }}
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section>Fecha de solicitud:</q-item-section>
          <q-item-section side>
            {{ form.fecha }}
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section>Monto:</q-item-section>
          <q-item-section side>
            ${{ Number.parseFloat(form.amount).toFixed(2) }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Descontar de Beneficios:</q-item-section>
          <q-item-section side>
            {{ form.pagar_beneficio == true ? "Si" : "No" }}
          </q-item-section>
        </q-item>
        <q-item v-if="form.pagar_beneficio">
          <q-item-section>Aprobar exceder limite:</q-item-section>
          <q-item-section side>
            {{ form.validar_limite == true ? "Si" : "No" }}
          </q-item-section>
        </q-item>
        <q-item v-if="form.pagar_beneficio">
          <q-item-section>Periodo:</q-item-section>
          <q-item-section side>
            {{ form.year }}
          </q-item-section>
        </q-item>
        <q-item v-if="form.pagar_beneficio">
          <q-item-section>Beneficio:</q-item-section>
          <q-item-section side>
            {{ beneficios.find((v) => v.value == form.beneficio).label }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Estatus:</q-item-section>
          <q-item-section side>
            {{ form.estatus_label }}
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "VerMas",
  data() {
    return {
      beneficios: [
        { label: "Décimo tercero", value: "decimo_tercero" },
        { label: "Décimo cuarto", value: "decimo_cuarto" },
        { label: "Utilidades", value: "utilidades" },
      ],
      motivos: [],
    };
  },
  props: {
    value: [],
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
    form: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
  },
  methods: {
    async getMotivos() {
      await this.$api
        .post("anticipos/motivos", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            this.motivos = v.data.map((val) => ({
              label: val.name,
              value: val._id,
            }));
          }
        });
    },
  },
  async mounted() {
    await this.getMotivos()
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
