// app global css in SCSS form
.text-n360 {
  color: #7a2ddb !important;
}
.bg-n360 {
  background: #7a2ddb !important;
}

@font-face {
  font-family: "title";
  src: url(/fonts/Poppins-Medium.ttf);
}
.my-title {
  font-family: "title";
}
@font-face {
  font-family: "body";
  src: url(/fonts/Lato-Regular.ttf);
}
.my-body {
  font-family: "body";
}
