<template>
  <div class="q-pa-md column">
    <div class="column items-start q-gutter-y-lg">
      <div class="col">
        <img src="logo-horizontal.png" width="250px" />
      </div>
      <div class="col">
        <div class="purple-n360 text-weight-bolder text-h5">
          Incio de Sesión
        </div>
      </div>
      <div class="col column q-gutter-y-md full-width">
        <div class="col text-subtitle2 text-weight-medium">
          {{ textoBienvenida }}
        </div>
        <div class="col items-center">
          <div class="text-weight-bold">Email</div>
          <div>
            <q-input
              dense
              standout="bg-grey-6"
              color="grey-2"
              class="text-black"
              v-model="form.email"
              type="email"
              :autofocus="true"
              style="width: 100%"
              ref="inputEmail"
            />
          </div>
        </div>
        <div class="col items-center">
          <div class="text-weight-bold">Contraseña</div>
          <div>
            <q-input
              dense
              standout="bg-grey-6"
              v-model="form.password"
              type="password"
              color="grey-2"
              class="text-black"
              style="width: 100%"
              ref="inputPass"
            />
          </div>
        </div>
      </div>
      <div class="col">
        <q-btn
          ref="btnRecoverPassword"
          flat
          no-caps
          color="indigo"
          label="¿Olvidaste tu contraseña?"
          @click="recoverPassword = true"
        />
      </div>
      <div class="col full-width">
        <q-btn
          ref="btnLogin"
          no-caps
          size="lg"
          class="btn-purple-n360"
          label="Iniciar"
          style="width: 100%"
          @click="login(form.email, form.password)"
        />
      </div>
      <div class="full-width">
        <hr style="background-color: #c4bfbe" />
      </div>
    </div>
    <div class="row justify-center">
      <div class="col-md-8 text-center">
        <span>¿No tienes una cuenta?</span>
        <q-btn
          flat
          no-caps
          color="deep-purple-14"
          label="Registrate Aquí"
          @click="signup = true"
        />
      </div>
    </div>
    <div class="col q-mt-md">
      <div class="col-md-8 text-center text-weight-bold">Social</div>
      <div class="col-md-8 text-center">
        <a href="https://instagram.com/nomina360" target="”_blank”">
          <img src="social/ig.png" class="q-ma-md" width="24px" />
        </a>
        <a href="https://facebook.com/nomina360" target="”_blank”">
          <img src="social/fb.png" class="q-ma-md" width="24px" />
        </a>
        <a href="https://www.linkedin.com/company/11380348" target="”_blank”">
          <img src="social/linkedin.png" class="q-ma-md" width="24px" />
        </a>
      </div>
    </div>

    <q-dialog v-model="recoverPassword" minimized>
      <q-card>
        <RecuperarPassword @close="recoverPassword = false" />
      </q-card>
    </q-dialog>
    <q-dialog v-model="signup" minimized persistent>
      <q-card>
        <Registro @close="signup = false" />
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapMutations, mapActions } from "vuex";
import RecuperarPassword from "./recuperar-password";
import Registro from "./registro";
export default {
  components: {
    RecuperarPassword,
    Registro,
  },
  name: "LoginDesktop",
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      windowHeight: "",
      textoBienvenida: "Bienvenido al sistema de Nómina360",
      recoverPassword: false,
      signup: false,
    };
  },
  methods: {
    ...mapMutations("generals", ["saveUser"]),
    ...mapActions("generals", [
      "infoMenu",
      "loadConfiguracion",
      "loadCompanies",
    ]),
    callSession(email, password) {
      return new Promise((resolve, reject) => {
        this.$api
          .post("usuario/login", {
            email: email,
            password: password,
          })
          .then(async (res) => {
            resolve(res.data);
          })
          .catch((error) => {
            reject(error);
          });
      });
    },
    async login(email, password) {
      try {
        const response = await this.callSession(email, password);

        const { token, empresa, rol, usuario, route, isUsuarioAprobadorDpto } =
          response;

        if (!token || !empresa || !rol || !usuario || !route)
          throw "Existe un error con el usuario! Por favor contacte a soporte";

        this.$q.localStorage.set("token", token);
        this.$q.localStorage.set("selected", empresa);
        this.$q.localStorage.set("user", usuario);
        this.$q.localStorage.set("aprobador_dpto", isUsuarioAprobadorDpto);
        this.$q.localStorage.set("rol_user", rol);
        this.$q.localStorage.set("my_route", route.main);

        await this.saveUser(usuario);
        await this.loadConfiguracion(empresa);
        await this.infoMenu(rol);
        this.$router.push(route.main);
      } catch (error) {
        return this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    async keepLogin() {
      if (this.$q.localStorage.has("user")) {
        await this.saveUser(this.$q.localStorage.getItem("user"));
        await this.loadConfiguracion(this.$q.localStorage.getItem("selected"));
        await this.infoMenu(this.$q.localStorage.getItem("rol_user"));

        this.$router.push(this.$q.localStorage.getItem("my_route"));
      } else {
        return false;
      }
    },
  },
  created() {
    this.windowHeight = window.innerHeight + "px";
  },
  async mounted() {
    await this.keepLogin();
  },
};
</script>

<style scoped>
.purple-n360 {
  color: #7a2ddb;
}
.bg-purple-n360 {
  background: #7a2ddb;
}
.btn-purple-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
