<template>
  <div>
    <div>
      <div class="q-ma-lg" align="center">
        <div class="text-weight-bold text-h6 q-mb-md text-center">
          Volviendo a tu cuenta de Nómina360
        </div>

        <span class="q-pa-lg text-weight-medium"
          >Danos más detalles sobre tu cuenta.</span
        >

        <div class="full-width q-pa-lg">
          <q-input
            label="Escribe tu correo electrónico"
            inverted
            color="grey-2"
            class="text-black"
            v-model="form.email"
          />
        </div>

        <div class="row q-pa-sm">
          <div class="col-md-12 text-right">
            <q-btn
              no-caps
              size="md"
              class="btn-purple-n360"
              label="Continuar"
              @click="recuperarPassword(form.email)"
              :loading="loadingRecuperacionPassword"
              :disable="!form.email"
            />
          </div>
        </div>
      </div>
    </div>

    <q-dialog v-model="mostrarMensajeRecuperacion" minimized>
      <q-card>
        <div class="q-ma-lg">
          <div class="text-weight-bold q-display-1 q-mb-md text-center">
            Volviendo a tu cuenta de Nómina360
          </div>

          <span class="q-pa-lg text-weight-regular">
            Si el correo electrónico es correcto, recibirás un email con los
            pasos a seguir para recuperar tu cuenta.
          </span>

          <div class="row q-pa-md">
            <div class="col-md-12 text-right">
              <q-btn
                no-caps
                size="md"
                class="btn-purple-n360"
                label="Aceptar"
                @click="mostrarMensajeRecuperacion = false"
              />
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
      },
      mostrarMensajeRecuperacion: false,
      loadingRecuperacionPassword: false,
    };
  },
  methods: {
    recuperarPassword(email) {
      this.loadingRecuperacionPassword = true;
      return new Promise((resolve, reject) => {
        this.$api
          .post("login/recover-password", {
            email,
          })
          .then((res) => {
            this.loadingRecuperacionPassword = false;
            this.mostrarMensajeRecuperacion = true;
            this.form.email = "";
            this.$emit("close");
            resolve();
          })
          .catch((error) => {
            this.loadingRecuperacionPassword = false;
            this.$q.notify({
              message: error,
              color: "negative",
            });
            reject(error);
          });
      });
    },
  },
};
</script>

<style scoped>
.purple-n360 {
  color: #7a2ddb;
}
.bg-purple-n360 {
  background: #7a2ddb;
}
.btn-purple-n360 {
  background: #7a2ddb;
  color: white;
}
.vertical-center {
  margin-top: 15%;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em;
  padding: 1em;
}
</style>
