<template>
  <div>
    <div class="text-grey-7 text-h6 text-weight-bold text-center">
      MÁS INOFRMACIÓN
    </div>
    <div class="q-pa-md text-weight-bold text-subtitle2">
      <q-list bordered separator class="rounded-borders">
        <q-item>
          <q-item-section>Nombre:</q-item-section>
          <q-item-section side>
            {{ form.nombre }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Capacitador:</q-item-section>
          <q-item-section side>
            {{ form.capacitador }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Lugar:</q-item-section>
          <q-item-section side>
            {{ form.lugar }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Fecha de inicio:</q-item-section>
          <q-item-section side>
            {{ $moment(form.fecha).format("YYYY-MM-DD") }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Fecha de finalización:</q-item-section>
          <q-item-section side>
            {{ $moment(form.fechaf).format("YYYY-MM-DD") }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Tipo de Capacitación:</q-item-section>
          <q-item-section side>
            {{
              Options3.find((v) => v.value == form.tipocapacitacion)
                ? Options3.find((v) => v.value == form.tipocapacitacion).label
                : "N/A"
            }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Se Descuenta:</q-item-section>
          <q-item-section side>
            {{ form.pagado ? "Si" : "No" }}
          </q-item-section>
        </q-item>
        <q-item v-if="form.pagado">
          <q-item-section>Plazo de descuento:</q-item-section>
          <q-item-section side>
            {{ form.plazo }}
          </q-item-section>
        </q-item>
        <q-item v-if="form.pagado">
          <q-item-section>Tipo de plazo:</q-item-section>
          <q-item-section side>
            {{
              Options.find((v) => v.value == form.tipoplazo)
                ? Options.find((v) => v.value == form.tipoplazo).label
                : "N/A"
            }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Costo:</q-item-section>
          <q-item-section side> ${{ form.monto }} </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Extracto de contenido:</q-item-section>
          <q-item-section side>
            {{ form.extracto }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Duración:</q-item-section>
          <q-item-section side>
            {{ form.tiempo }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Tipo de duración:</q-item-section>
          <q-item-section side>
            {{
              Options2.find((v) => v.value == form.tduracion)
                ? Options2.find((v) => v.value == form.tduracion).label
                : "N/A"
            }}
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "VerMas",
  data() {
    return {
      Options: [
        {
          label: "Quincenas",
          value: "quincena",
        },
        {
          label: "Meses",
          value: "fdm",
        },
      ],
      Options2: [
        {
          label: "Horas",
          value: "hors",
        },
        {
          label: "Dias",
          value: "dias",
        },
        {
          label: "Semanas",
          value: "sem",
        },
        {
          label: "Meses",
          value: "mes",
        },
      ],
      Options3: [
        {
          label: "InHouse",
          value: "inhouse",
        },
        {
          label: "Externa",
          value: "externa",
        },
      ],
    };
  },
  props: {
    value: [],
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),

    form: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
  },
  methods: {},
  async mounted() {},
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
