<template>
  <div>
    <div align="center" class="text-grey-7 text-h6 text-weight-bold">
      Historico
    </div>
    <div class="q-pa-md text-weight-bold text-subtitle2">
      <q-list
        bordered
        separator
        class="rounded-borders"
        v-for="(obj, index) in historico"
        :key="'A' + index"
      >
        <q-expansion-item
          expand-separator
          icon="visibility"
          :label="obj.fecha"
          :caption="obj.estatus_label"
        >
          <q-card>
            <q-card-section>
              <q-list highlight separator class="text-weight-bold">
                <q-item>
                  <q-item-section>Monto:</q-item-section>
                  <q-item-section side>
                    ${{ Number.parseFloat(obj.amount).toFixed(2) }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Fecha de solicitud:</q-item-section>
                  <q-item-section side>
                    {{ obj.fecha }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Descontar de Beneficios:</q-item-section>
                  <q-item-section side>
                    {{ obj.pagar_beneficio == true ? "Si" : "No" }}
                  </q-item-section>
                </q-item>
                <q-item v-if="obj.pagar_beneficio">
                  <q-item-section>Periodo:</q-item-section>
                  <q-item-section side>
                    {{ obj.year }}
                  </q-item-section>
                </q-item>
                <q-item v-if="obj.pagar_beneficio">
                  <q-item-section>Beneficio:</q-item-section>
                  <q-item-section side>
                    {{ beneficios.find((v) => v.value == obj.beneficio).label }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Estatus:</q-item-section>
                  <q-item-section side>
                    {{ obj.estatus_label }}
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
    </div>
  </div>
</template>

<script>
export default {
  name: "Historico",
  data() {
    return {
      beneficios: [
        { label: "Décimo tercero", value: "decimo_tercero" },
        { label: "Décimo cuarto", value: "decimo_cuarto" },
        { label: "Utilidades", value: "utilidades" },
      ],
    };
  },
  props: {
    value: [],
  },
  watch: {},
  computed: {
    historico: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
  },
  methods: {},
  async mounted() {},
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
