<template>
  <q-page class="bg-white">
    <q-tabs
      v-model="tab"
      dense
      class="text-grey-3 my-title text-weight-bolder bg-n360"
      align="justify"
      narrow-indicator
    >
      <q-tab
        name="activos"
        label="Activos"
        @click="listActivos('activo'), (filter = ''), (filter2 = '')"
      />
      <q-tab
        name="pagados"
        label="Pagados"
        @click="listActivos('pagado'), (filter = ''), (filter2 = '')"
      />
      <q-tab
        name="solicitados"
        label="Solicitados"
        @click="solicitados, (filter = ''), (filter2 = '')"
      />
    </q-tabs>
    <q-separator />
    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="activos" class="my-body q-pa-none">
        <q-virtual-scroll v-if="!loading_activos" :items="list">
          <template v-slot="{ item, index }">
            <q-item :key="index" clickable>
              <q-item-section v-if="item.search">
                <q-input
                  label="Buscar"
                  v-model="filter"
                  color="n360"
                  dense
                  borderless
                >
                  <template v-slot:append>
                    <q-icon name="search" color="n360" />
                  </template>
                </q-input>
              </q-item-section>
              <q-item-section v-if="!item.search" class="q-mt-xs">
                <q-item-label>MONTO APROBADO: ${{ item.amount }}</q-item-label>
                <q-item-label caption
                  >DESCUENTO DE BENEFICIOS SOCIALES:
                  {{ item.pagar_beneficio ? "Si" : "NO" }}
                </q-item-label>
              </q-item-section>
              <q-item-section side v-if="!item.search">
                <div>
                  <q-btn color="n360" icon="more_vert" dense flat round>
                    <q-menu>
                      <q-list style="min-width: 100px">
                        <q-separator />
                        <q-item
                          clickable
                          v-close-popup
                          @click="historico(item._id)"
                        >
                          <q-item-section>Historico</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          v-if="item.file"
                          clickable
                          v-close-popup
                          @click="downloadFile(item.file, item.site)"
                        >
                          <q-item-section>Comprobante</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          clickable
                          v-close-popup
                          @click="verMas(item, 'activos_pagados')"
                        >
                          <q-item-section>Ver Más</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                </div>
              </q-item-section>
            </q-item>
            <q-separator inset />
          </template>
        </q-virtual-scroll>
        <div
          v-if="list.length <= 1"
          class="my-title text-grey-6 text-center text-subtitle1"
        >
          No se encontraron resultados
        </div>
      </q-tab-panel>

      <q-tab-panel name="pagados" class="my-body q-pa-none">
        <q-virtual-scroll v-if="!loading_activos" :items="list">
          <template v-slot="{ item, index }">
            <q-item :key="index" clickable>
              <q-item-section v-if="item.search">
                <q-input
                  label="Buscar"
                  v-model="filter"
                  color="n360"
                  dense
                  borderless
                >
                  <template v-slot:append>
                    <q-icon name="search" color="n360" />
                  </template>
                </q-input>
              </q-item-section>
              <q-item-section v-if="!item.search" class="q-mt-xs">
                <q-item-label>MONTO APROBADO: ${{ item.amount }}</q-item-label>
                <q-item-label caption
                  >DESCUENTO DE BENEFICIOS SOCIALES:
                  {{ item.pagar_beneficio ? "Si" : "NO" }}
                </q-item-label>
              </q-item-section>
              <q-item-section side v-if="!item.search">
                <div>
                  <q-btn color="n360" icon="more_vert" dense flat round>
                    <q-menu>
                      <q-list style="min-width: 100px">
                        <q-item
                          clickable
                          v-close-popup
                          @click="historico(item._id)"
                        >
                          <q-item-section>Historico</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          v-if="item.file"
                          clickable
                          v-close-popup
                          @click="downloadFile(item.file, item.site)"
                        >
                          <q-item-section>Comprobante</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          clickable
                          v-close-popup
                          @click="verMas(item, 'activos_pagados')"
                        >
                          <q-item-section>Ver Más</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                </div>
              </q-item-section>
            </q-item>
            <q-separator inset />
          </template>
        </q-virtual-scroll>
        <div
          v-if="list.length <= 1"
          class="my-title text-grey-6 text-center text-subtitle1"
        >
          No se encontraron resultados
        </div>
      </q-tab-panel>

      <q-tab-panel name="solicitados" class="my-body q-pa-none">
        <q-virtual-scroll v-if="!loading_solicidatos" :items="list2">
          <template v-slot="{ item, index }">
            <q-item :key="index" clickable>
              <q-item-section v-if="item.search">
                <q-input
                  label="Buscar"
                  v-model="filter2"
                  color="n360"
                  dense
                  borderless
                >
                  <template v-slot:append>
                    <q-icon name="search" color="n360" />
                  </template>
                </q-input>
              </q-item-section>
              <q-item-section v-if="!item.search">
                <q-item-label
                  >Fecha:
                  {{ $moment(item.date).format("YYYY-MM-DD") }}</q-item-label
                >
                <q-item-label caption>{{ item.estatus_label }} </q-item-label>
              </q-item-section>
              <q-item-section side v-if="!item.search">
                <div>
                  <q-btn color="n360" icon="more_vert" dense flat round>
                    <q-menu>
                      <q-list style="min-width: 100px">
                        <q-item
                          clickable
                          v-close-popup
                          v-if="item.available"
                          :to="
                            '/mis-anticipos/solicitar/' +
                            item.collection +
                            '+' +
                            item._id
                          "
                        >
                          <q-item-section>Editar</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          clickable
                          v-close-popup
                          v-if="item.available"
                          @click="
                            eliminar(
                              item.collection + '/' + item._id,
                              item.file
                            )
                          "
                        >
                          <q-item-section>Eliminar</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          v-if="item.file"
                          clickable
                          v-close-popup
                          @click="downloadFile(item.file, item.site)"
                        >
                          <q-item-section>Comprobante</q-item-section>
                        </q-item>
                        <q-separator />
                        <q-item
                          clickable
                          v-close-popup
                          @click="verMas(item, 'solicitados')"
                        >
                          <q-item-section>Ver Más</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                </div>
              </q-item-section>
            </q-item>
            <q-separator inset />
          </template>
        </q-virtual-scroll>
        <div
          v-if="list2.length <= 1"
          class="my-title text-grey-6 text-center text-subtitle1"
        >
          No se encontraron resultados
        </div>
      </q-tab-panel>
    </q-tab-panels>
    <q-btn
      v-if="tab === 'solicitados'"
      dense
      round
      icon="filter_alt"
      color="n360"
      class="absolute-bottom-left q-ml-lg q-mb-xl"
    >
      <q-menu>
        <q-list style="min-width: 100px">
          <q-item
            :class="type_solicitados == 'a' ? 'bg-n360 text-grey-3' : ''"
            clickable
            v-close-popup
            @click="type_solicitados = 'a'"
          >
            <q-item-section>Filtrar Aprobados</q-item-section>
          </q-item>
          <q-separator />
          <q-item
            :class="type_solicitados == 'r' ? 'bg-n360 text-grey-3' : ''"
            clickable
            v-close-popup
            @click="type_solicitados = 'r'"
          >
            <q-item-section>Filtrar Rechazados</q-item-section>
          </q-item>
          <q-separator />
          <q-item
            :class="type_solicitados == 'p' ? 'bg-n360 text-grey-3' : ''"
            clickable
            v-close-popup
            @click="type_solicitados = 'p'"
          >
            <q-item-section>Filtrar Pendientes</q-item-section>
          </q-item>
          <q-separator />
          <q-item
            :class="type_solicitados == 'all' ? 'bg-n360 text-grey-3' : ''"
            clickable
            v-close-popup
            @click="type_solicitados = 'all'"
          >
            <q-item-section>Filtrar Todos</q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </q-btn>

    <!-- DIALOGS -->
    <q-dialog v-model="dialog_historico" maximized>
      <q-card>
        <q-card-actions align="right">
          <q-btn flat icon="close" color="n360" v-close-popup />
        </q-card-actions>
        <historico v-model="historico_list" />
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialog_mas" maximized>
      <q-card>
        <q-card-actions align="right">
          <q-btn flat icon="close" color="n360" v-close-popup />
        </q-card-actions>
        <ver-mas v-model="ver_mas" :type="type" />
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import Historico from "./Historico.vue";
import VerMas from "./VerMas.vue";
import { openURL } from "quasar";
export default {
  name: "ListadoDesktop",
  components: {
    Historico,
    VerMas,
  },
  data() {
    return {
      type_solicitados: "all",
      type: "",
      filter: "",
      filter2: "",
      tab: "activos",
      dialog_historico: false,
      dialog_mas: false,
      loading_activos: false,
      loading_estado: false,
      loading_solicidatos: false,
      historico_list: [],
      rows: [],
      rows2: [],
      ver_mas: {},
    };
  },
  watch: {
    type_solicitados() {
      this.loading_solicidatos = true;
      this.$q.loading.show();
      setTimeout(async () => {
        await this.solicitados();
        this.loading_solicidatos = false;
        this.$q.loading.hide();
      }, 2000);
    },
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
    list() {
      let fil = this.rows.filter(
        (v) =>
          !this.filter ||
          this.filter == this.$moment(v.date).format("YYYY-MM-DD") ||
          this.filter == v.amount
      );
      fil.unshift({
        search: true,
      });
      return fil;
    },
    list2() {
      let fil = this.rows2.filter(
        (v) =>
          !this.filter2 ||
          this.filter2 == this.$moment(v.date).format("YYYY-MM-DD") ||
          this.filter2 == v.amount
      );
      fil.unshift({
        search: true,
      });
      return fil;
    },
  },
  methods: {
    listActivos(type) {
      try {
        this.loading_activos = true;
        this.$api
          .post("anticipos/activos-pagados", {
            user: this.user,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            type: type,
          })
          .then((v) => {
            this.rows = v.data;
            this.loading_activos = false;
          });
      } catch (error) {
        this.loading_activos = false;
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    historico(id) {
      try {
        this.$q.loading.show();
        this.$api
          .post("anticipos/historico", {
            user: this.user,
            id: id,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
          })
          .then((v) => {
            this.historico_list = v.data;
            this.dialog_historico = true;
            this.$q.loading.hide();
          });
      } catch (error) {
        this.$q.loading.hide();

        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    eliminar(collection, file) {
      this.$q
        .dialog({
          title: "Eliminar",
          message: "¿Está seguro de eliminar la solicitud?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          await this.$api.post("anticipos/eliminar", {
            collection: collection,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
            file: file ? file : null,
          });
          await this.solicitados();
          this.$q.notify({
            message: "Solicitud eliminada",
            color: "negative",
          });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
    solicitados() {
      try {
        this.loading_solicidatos = true;
        this.$api
          .post("anticipos/solicitudes", {
            user: this.user,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            type: this.type_solicitados,
          })
          .then((v) => {
            this.rows2 = v.data;
            this.loading_solicidatos = false;
          });
      } catch (error) {
        this.loading_solicidatos = false;
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    verMas(row, type) {
      this.ver_mas = row;
      this.dialog_mas = true;
      this.type = type;
    },
    downloadFile(file, site) {
      const route =
        site == "portal" ? this.$env.storage : this.company.apiUrl + "/";
      openURL(route + file);
    },
  },
  async mounted() {
    await this.listActivos("activo");
    await this.solicitados();
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
