<template>
  <q-page class="q-pa-sm">
    <q-splitter class="bg-white" v-model="splitterModel">
      <template v-slot:before>
        <div class="q-pa-md my-title text-subtitle1">
          <q-tree
            :nodes="data"
            node-key="label"
            selected-color="n360"
            :selected.sync="selected"
            default-expand-all
            accordion
            ref="tree"
          />
        </div>
      </template>

      <template v-slot:after>
        <q-tab-panels
          v-model="selected"
          animated
          transition-prev="jump-up"
          transition-next="jump-up"
        >
          <q-tab-panel :name="selected" align="center">
            <q-card bordered class="my-card" v-if="!loading">
              <q-card-section class="text-grey-4 bg-n360 my-title">
                <div class="text-h5">
                  {{ form.label }}
                </div>
                <div class="text-subtitle1">
                  Jefe: {{ form.jefe_dpt_label }}
                </div>
              </q-card-section>

              <q-separator inset />

              <q-card-section>
                <q-list
                  dense
                  bordered
                  class="rounded-borders text-left my-body text-subtitle2 text-weight-bold"
                >
                  <q-item>
                    <q-item-section>Aprobador Anticipos:</q-item-section>
                    <q-item-section side>
                      {{ form.approve_anticipos }}
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section>Aprobador Préstamos:</q-item-section>
                    <q-item-section side>
                      {{ form.approve_prestamos }}
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section>Aprobador Permisos:</q-item-section>
                    <q-item-section side>
                      {{ form.approve_permisos }}
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section>Aprobador Vacaciones:</q-item-section>
                    <q-item-section side>
                      {{ form.approve_vacaciones }}
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-card-section>
            </q-card>
            <q-table
              v-if="!loading"
              :data="form.employees"
              :columns="columns"
              :filter="filter"
              row-key="name"
              class="my-title q-mt-lg q-mb-lg q-mx-md"
              style="font-size: 15px"
            >
              <template v-slot:top>
                <div class="text-h6">EMPLEADOS DENTRO DEL DEPARTAMENTO</div>

                <q-space />
                <q-input
                  outlined
                  dense
                  debounce="300"
                  v-model="filter"
                  placeholder="Buscar"
                  color="n360"
                >
                  <template v-slot:append>
                    <q-icon name="search" color="n360" />
                  </template>
                </q-input>
              </template>
            </q-table>
          </q-tab-panel>
        </q-tab-panels>

        <div class="q-py-xl" v-if="loading" align="center">
          <q-spinner color="n360" size="3em" :thickness="10" />
        </div>
      </template>
    </q-splitter>
  </q-page>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ListadoDesktop",
  components: {},
  data() {
    return {
      splitterModel: 30,
      selected: "",
      filter: "",
      data: [],
      form: {},
      loading: false,
      columns: [
        {
          name: "last_name",
          required: true,
          label: "APELLIDO",
          align: "left",
          field: "last_name",
          sortable: true,
        },
        {
          name: "name",
          required: true,
          label: "NOMBRE",
          align: "left",
          field: "name",
          sortable: true,
        },
        {
          name: "identity_card",
          required: true,
          label: "CÉDULA",
          align: "left",
          field: "identity_card",
          sortable: true,
        },
        {
          name: "email",
          required: true,
          label: "EMAIL",
          align: "center",
          field: "email",
          sortable: true,
        },
        {
          name: "birthdate",
          required: true,
          label: "CUMPLEAÑOS",
          align: "center",
          field: (row) => row.birthdate,
          format: (val) => {
            return this.$moment(val).format("MM-DD");
          },
          sortable: true,
        },
      ],
    };
  },
  watch: {
    selected(v) {
      if (v) {
        this.loading = true;
        setTimeout(async () => {
          this.$refs.tree.expandAll();
          const res = this.$refs.tree.getNodeByKey(v);
          this.form = res;
          this.loading = false;
        }, 2000);
      }
    },
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
  },
  methods: {
    listado() {
      try {
        this.$q.loading.show();
        this.$api
          .post("departamentos/listado", {
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
            user: this.user.data._id,
          })
          .then((v) => {
            this.data.push(v.data);
            this.selected = v.data.label;
            this.$q.loading.hide();
          });
      } catch (error) {
        this.$q.loading.hide();
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
  },
  async mounted() {
    await this.listado();
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
.my-card {
  width: 100%;
  max-width: 600px;
}
</style>
