<template>
  <q-page class="q-pa-sm">
    <div class="bg-white">
      <div class="q-pa-md">
        <q-scroll-area style="height: 580px">
          <!-- Listado -->
          <q-table
            :data="rows"
            :columns="columns"
            :filter="filter"
            :loading="loading"
            row-key="name"
            class="my-title q-mt-lg"
            style="font-size: 15px"
          >
            <template v-slot:top>
              <div class="text-h6">FALTAS</div>
              <q-space />
              <q-select
                outlined
                dense
                v-model="type"
                label="Filtro"
                color="n360"
                :options="[
                  { label: 'Injustificada', value: 'injustificada' },
                  { label: 'Justificada', value: 'justificada' },
                  { label: 'Todos', value: 'all' },
                ]"
                emit-value
                map-options
                style="width: 150px"
              />
              <q-space />
              <q-input
                outlined
                dense
                debounce="300"
                v-model="filter"
                placeholder="Buscar"
                color="n360"
              >
                <template v-slot:append>
                  <q-icon name="search" color="n360" />
                </template>
              </q-input>
            </template>
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="type" :props="props">
                  {{
                    tipo_faltas.find((v) => v.value == props.row.type)
                      ? tipo_faltas.find((v) => v.value == props.row.type).label
                      : "Sin tipo falta"
                  }}
                </q-td>
                <q-td key="termtype" :props="props">
                  {{
                    tipo_term.find((v) => v.value == props.row.termtype)
                      ? tipo_term.find((v) => v.value == props.row.termtype)
                          .label
                      : "Sin tipo plazo"
                  }}
                </q-td>
                <q-td key="term" :props="props">
                  {{ props.row.term }}
                </q-td>
                <q-td key="motivo" :props="props">
                  {{
                    motivos.find(
                      (v) => v.value == props.row.motivo_falta_justificada
                    )
                      ? motivos.find(
                          (v) => v.value == props.row.motivo_falta_justificada
                        ).label
                      : "N/A"
                  }}
                </q-td>
                <q-td key="date" :props="props">
                  {{ $moment(props.row.date).format("YYYY-MM-DD-hh:ss") }}
                </q-td>
                <q-td key="create" :props="props">
                  {{ $moment(props.row.created_at).format("YYYY-MM-DD") }}
                </q-td>

                <q-td key="actions" :props="props">
                  <q-btn
                    v-if="props.row.file"
                    color="n360"
                    outline
                    label="Comprobante"
                    size="sm"
                    @click="downloadFile(props.row.file)"
                  />
                  <q-btn
                    color="n360"
                    outline
                    label="Ver más"
                    size="sm"
                    @click="verMas(props.row)"
                  />
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </q-scroll-area>
      </div>
    </div>

    <!-- DIALOGS -->
    <q-dialog v-model="dialog_mas">
      <q-card style="width: 500px; max-width: 80vw; max-height: 50vw">
        <q-card-actions align="right">
          <q-btn flat icon="close" color="n360" v-close-popup />
        </q-card-actions>
        <ver-mas v-model="ver_mas" />
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import VerMas from "./VerMas.vue";
import { openURL } from "quasar";
export default {
  name: "ListadoDesktop",
  components: {
    VerMas,
  },
  data() {
    return {
      type: "all",
      filter: "",
      dialog_mas: false,
      loading: false,
      rows: [],
      ver_mas: {},
      columns: [
        {
          name: "type",
          required: true,
          label: "TIPO DE FALTA",
          align: "left",
          field: "type",
          sortable: true,
        },
        {
          name: "termtype",
          required: true,
          label: "TIPO DE PLAZO",
          align: "left",
          field: "termtype",
          sortable: true,
        },
        {
          name: "term",
          required: true,
          label: "PLAZO",
          align: "left",
          field: "term",
          sortable: true,
        },
        {
          name: "motivo",
          required: true,
          label: "MOTÍVO",
          align: "center",
          field: "motivo_falta_justificada",
          sortable: true,
        },
        {
          name: "date",
          required: true,
          label: "FECHA DE LA FALTA",
          align: "center",
          field: "date",
          sortable: true,
        },
        {
          name: "create",
          required: true,
          label: "FECHA DE GENERACIÓN",
          align: "center",
          field: "created_at",
          sortable: true,
        },
        { name: "actions", align: "right", label: "Acciones", sortable: true },
      ],
      tipo_faltas: [
        { label: "Justificada", value: "justificada" },
        { label: "Injustificada", value: "injustificada" },
      ],
      tipo_term: [
        {
          label: "Horas",
          value: "h",
        },
        {
          label: "Días",
          value: "d",
        },
      ],
      motivos_faltas: [],
    };
  },
  watch: {
    type() {
      this.loading = true;
      setTimeout(async () => {
        await this.listado();
        this.loading = false;
      }, 2000);
    },
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
    motivos() {
      return this.motivos_faltas
        .filter((motivo) => motivo.name !== undefined)
        .map((val) => ({
          label: val.name,
          value: val._id,
        }));
    },
  },
  methods: {
    listado() {
      try {
        this.$api
          .post("faltas/listado", {
            user: this.user,
            url: this.company.apiUrl,
            type: this.type,
          })
          .then((v) => {
            this.rows = v.data;
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    verMas(row) {
      this.ver_mas = row;
      this.dialog_mas = true;
    },
    downloadFile(file) {
      const route = this.company.apiUrl + "/";
      openURL(route + file);
    },
  },
  async mounted() {
    await this.listado();
    this.$api
      .post("faltas/motivos-faltas", {
        user: this.user,
        url: this.company.apiUrl,
      })
      .then((v) => {
        this.motivos_faltas = v.data;
      });
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
