<template>
  <q-page class="q-pa-md">
    <div class="bg-white">
      <div class="q-pa-md my-title text-h6 text-grey-6">
        SOLICITUDES PENDIENTES POR APROBAR
      </div>
      <div class="q-pa-md">
        <!-- PRESTAMOS PENDIENTES-->
        <q-table
          title="Préstamos Pendientes"
          :data="data.prestamos"
          :columns="columns_prestamos"
          :filter="filter_prestamos"
          row-key="name"
          class="my-title"
        >
          <template v-slot:top-right>
            <q-input
              outlined
              dense
              debounce="300"
              v-model="filter_prestamos"
              placeholder="Buscar"
              color="n360"
            >
              <template v-slot:append>
                <q-icon name="search" color="n360" />
              </template>
            </q-input>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="employee_label" :props="props">
                {{ props.row.employee_label }}
              </q-td>
              <q-td key="amount" :props="props"> ${{ props.row.amount }} </q-td>
              <q-td key="motivo" :props="props">
                {{ props.row.motivo }}
              </q-td>
              <q-td key="dues" :props="props">
                {{ props.row.dues }}
              </q-td>
              <q-td key="date" :props="props">
                {{ props.row.date }}
              </q-td>
              <q-td key="actions" :props="props">
                <q-btn
                  v-if="props.row.file"
                  color="n360"
                  outline
                  label="Comprobante"
                  size="sm"
                  @click="downloadFile(props.row.file)"
                />
                <q-btn
                  color="n360"
                  outline
                  label="Aprobar"
                  size="sm"
                  @click="aprobar(props.row)"
                />
                <q-btn
                  color="n360"
                  outline
                  label="Rechazar"
                  size="sm"
                  @click="rechazar(props.row)"
                />
              </q-td>
            </q-tr>
          </template>
        </q-table>
        <!-- ANTICIPOS PENDIENTES-->
        <q-table
          title="Anticipos Pendientes"
          :data="data.anticipos"
          :columns="columns_anticipos"
          :filter="filter_anticipos"
          row-key="name"
          class="my-title q-mt-md"
        >
          <template v-slot:top-right>
            <q-input
              outlined
              dense
              debounce="300"
              v-model="filter_anticipos"
              placeholder="Buscar"
              color="n360"
            >
              <template v-slot:append>
                <q-icon name="search" color="n360" />
              </template>
            </q-input>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="employee_label" :props="props">
                {{ props.row.employee_label }}
              </q-td>
              <q-td key="amount" :props="props"> ${{ props.row.amount }} </q-td>
              <q-td key="motivo" :props="props">
                {{ props.row.motivo }}
              </q-td>
              <q-td key="pagar_beneficio" :props="props">
                {{ props.row.pagar_beneficio ? "SI" : "NO" }}
              </q-td>
              <q-td key="date" :props="props">
                {{ props.row.date }}
              </q-td>
              <q-td key="actions" :props="props">
                <q-btn
                  v-if="props.row.file"
                  color="n360"
                  outline
                  label="Comprobante"
                  size="sm"
                  @click="downloadFile(props.row.file)"
                />
                <q-btn
                  color="n360"
                  outline
                  label="Aprobar"
                  size="sm"
                  @click="aprobar(props.row)"
                />
                <q-btn
                  color="n360"
                  outline
                  label="Rechazar"
                  size="sm"
                  @click="rechazar(props.row)"
                />
              </q-td>
            </q-tr>
          </template>
        </q-table>

        <!-- PERMISOS PENDIENTES-->
        <q-table
          title="Permisos Pendientes"
          :data="data.permisos"
          :columns="columns_permisos"
          :filter="filter_permisos"
          row-key="name"
          class="my-title q-mt-md"
        >
          <template v-slot:top-right>
            <q-input
              outlined
              dense
              debounce="300"
              v-model="filter_permisos"
              placeholder="Buscar"
              color="n360"
            >
              <template v-slot:append>
                <q-icon name="search" color="n360" />
              </template>
            </q-input>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="employee_label" :props="props">
                {{ props.row.employee_label }}
              </q-td>
              <q-td key="solicitud" :props="props">
                {{
                  tipos_permisos.find((v) => v.value === props.row.solicitud)
                    .label || "Sin Solicitud"
                }}
              </q-td>
              <q-td key="motivo" :props="props">
                {{
                  !options.find((v) => v.value === props.row.motivo)
                    ? "Sin Motivo"
                    : options.find((v) => v.value === props.row.motivo).label
                }}
              </q-td>
              <q-td key="inicio" :props="props">
                {{ props.row.inicio }}
              </q-td>
              <q-td key="fin" :props="props">
                {{ props.row.fin }}
              </q-td>
              <q-td key="dias" :props="props">
                {{ props.row.dias }}
              </q-td>
              <q-td key="actions" :props="props">
                <q-btn
                  v-if="props.row.file"
                  color="n360"
                  outline
                  label="Comprobante"
                  size="sm"
                  @click="downloadFile(props.row.file)"
                />
                <q-btn
                  color="n360"
                  outline
                  label="Aprobar"
                  size="sm"
                  @click="aprobar(props.row)"
                />
                <q-btn
                  color="n360"
                  outline
                  label="Rechazar"
                  size="sm"
                  @click="rechazar(props.row)"
                />
              </q-td>
            </q-tr>
          </template>
        </q-table>

        <!-- VACACIONES PENDIENTES-->
        <q-table
          title="Vacaciones Pendientes"
          :data="data.vacaciones"
          :columns="columns_vacaciones"
          :filter="filter_vacaciones"
          row-key="name"
          class="my-title q-mt-md"
        >
          <template v-slot:top-right>
            <q-input
              outlined
              dense
              debounce="300"
              v-model="filter_vacaciones"
              placeholder="Buscar"
              color="n360"
            >
              <template v-slot:append>
                <q-icon name="search" color="n360" />
              </template>
            </q-input>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="employee_label" :props="props">
                {{ props.row.employee_label }}
              </q-td>
              <q-td key="mode" :props="props">
                {{
                  tipos_vacaciones.find((v) => v.value === props.row.mode)
                    .label || "Sin Solicitud"
                }}
              </q-td>
              <q-td key="periodo" :props="props">
                {{ props.row.periodo }}
              </q-td>
              <q-td key="start" :props="props">
                {{ $moment(props.row.start).format("YYYY-MM-DD") }}
              </q-td>
              <q-td key="days" :props="props">
                {{ props.row.days }}
              </q-td>
              <q-td key="valor" :props="props">
                ${{ Number.parseFloat(props.row.valor).toFixed(2) || 0 }}
              </q-td>
              <q-td key="days_adicionales" :props="props">
                {{ props.row.days_adicionales || 0 }}
              </q-td>
              <q-td key="valor_adicional" :props="props">
                ${{
                  props.row.valor_adicional
                    ? Number.parseFloat(props.row.valor_adicional).toFixed(2)
                    : 0
                }}
              </q-td>
              <q-td key="actions" :props="props">
                <q-btn
                  v-if="props.row.file"
                  color="n360"
                  outline
                  label="Comprobante"
                  size="sm"
                  @click="downloadFile(props.row.file)"
                />
                <q-btn
                  color="n360"
                  outline
                  label="Aprobar"
                  size="sm"
                  @click="aprobar(props.row)"
                />
                <q-btn
                  color="n360"
                  outline
                  label="Rechazar"
                  size="sm"
                  @click="rechazar(props.row)"
                />
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import { openURL } from "quasar";
export default {
  name: "IndexDesktop",
  data() {
    return {
      data: {
        anticipos: [],
        permisos: [],
        prestamos: [],
        vacaiones: [],
      },

      // COLUMNS
      columns_prestamos: [
        {
          name: "employee_label",
          required: true,
          label: "Empleado",
          align: "left",
          field: "employee_label",
          sortable: true,
        },
        {
          name: "amount",
          required: true,
          label: "MONTO",
          align: "center",
          field: (row) => row.amount,
          format: (val) => `${val}`,
          sortable: true,
        },
        {
          name: "motivo",
          required: true,
          label: "Motivo",
          align: "center",
          field: "motivo",
          sortable: true,
        },
        {
          name: "dues",
          align: "center",
          label: "CUOTAS ",
          field: "dues",
          sortable: true,
        },
        {
          name: "date",
          align: "center",
          label: "FECHA DEL PRÉSTAMO",
          field: "date",
          sortable: true,
        },
        { name: "actions", align: "right", label: "Acciones", sortable: true },
      ],
      columns_anticipos: [
        {
          name: "employee_label",
          required: true,
          label: "Empleado",
          align: "left",
          field: "employee_label",
          sortable: true,
        },
        {
          name: "amount",
          required: true,
          label: "MONTO",
          align: "center",
          field: (row) => row.amount,
          format: (val) => `${val}`,
          sortable: true,
        },
        {
          name: "pagar_beneficio",
          align: "center",
          label: "DESCONTAR DE BENEFICIOS",
          field: (row) => (row.pagar_beneficio ? "SI" : "NO"),
          sortable: true,
        },
        {
          name: "date",
          align: "center",
          label: "FECHA DEL ANTICIPO",
          field: "date",
          sortable: true,
        },
        { name: "actions", align: "right", label: "Acciones", sortable: true },
      ],
      columns_permisos: [
        {
          name: "employee_label",
          required: true,
          label: "Empleado",
          align: "left",
          field: "employee_label",
          sortable: true,
        },
        {
          name: "solicitud",
          required: true,
          label: "SOLICITUD",
          align: "center",
          field: "solicitud",
          sortable: true,
        },
        {
          name: "motivo",
          required: true,
          label: "MÓTIVO",
          align: "center",
          field: "motivo",
          sortable: true,
        },
        {
          name: "inicio",
          align: "center",
          label: "FECHA DE INICIO",
          field: "inicio",
          sortable: true,
        },
        {
          name: "fin",
          align: "center",
          label: "FECHA DE FINALIZACIÓN",
          field: "fin",
          sortable: true,
        },
        {
          name: "dias",
          align: "center",
          label: "DíAS",
          field: "dias",
          sortable: true,
        },
        { name: "actions", align: "right", label: "Acciones", sortable: true },
      ],
      columns_vacaciones: [
        {
          name: "employee_label",
          required: true,
          label: "Empleado",
          align: "left",
          field: "employee_label",
          sortable: true,
        },
        {
          name: "mode",
          required: true,
          label: "TIPO DE GENERACIÓN",
          align: "center",
          field: "mode",
          sortable: true,
        },
        {
          name: "periodo",
          align: "center",
          label: "PERIODO",
          field: "periodo",
          sortable: true,
        },
        {
          name: "start",
          align: "center",
          label: "FECHA DE INICIO",
          field: "start",
          sortable: true,
        },
        {
          name: "days",
          required: true,
          label: "DÍAS",
          align: "center",
          field: "days",
          sortable: true,
        },
        {
          name: "valor",
          align: "center",
          label: "VALOR",
          field: "valor",
          sortable: true,
        },
        {
          name: "days_adicionales",
          required: true,
          label: "DÍAS ADICIONALES",
          align: "center",
          field: "days_adicionales",
          sortable: true,
        },
        {
          name: "valor_adicional",
          align: "center",
          label: "VALOR ADICIONAL",
          field: "valor_adicional",
          sortable: true,
        },
        { name: "actions", align: "right", label: "Acciones", sortable: true },
      ],

      options: [],

      // FILTER
      filter_prestamos: "",
      filter_anticipos: "",
      filter_permisos: "",
      filter_vacaciones: "",

      tipos_vacaciones: [
        {
          label: "Normal",
          value: "norm",
        },
        {
          label: "Solo descontar días",
          value: "days",
        },
        {
          label: "Solo descontar pago",
          value: "pago",
        },
        {
          label: "Vacaciones Pagadas",
          value: "pagadas",
        },
        {
          label: "Anticipadas normal",
          value: "normal",
        },
        {
          label: "Anticipadas solo  pago",
          value: "pago",
        },
        {
          label: "Normal",
          value: "norm_adicional",
        },
        {
          label: "Pagados y Descontados",
          value: "pago_descuento_adicional",
        },
        {
          label: "Descontar Días",
          value: "days_adicional",
        },
        {
          label: "Descontar Pago",
          value: "pago_adicional",
        },
      ],
    };
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
    tipos_permisos() {
      return [
        {
          label: "Permisos - Licencias Médicas y Otros",
          value: "permiso-medico",
        },
        {
          label: "Permiso de Paternidad",
          value: "permiso-paternidad",
        },
        {
          label: "Permiso de Maternidad",
          value: "permiso-maternidad",
        },
        {
          label: "Otros permisos",
          value: "permiso-otros",
        },
      ];
    },
  },
  methods: {
    solicitudes() {
      try {
        this.$q.loading.show();
        this.$api
          .post("aprobaciones/solicitudes", {
            company: this.user.data.__company__,
            url: this.company.apiUrl,
            user: this.user.data._id,
          })
          .then((v) => {
            this.$q.loading.hide();
            this.data = v.data;
          });
      } catch (error) {
        this.$q.loading.hide();
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    aprobar(form) {
      this.$q
        .dialog({
          title: "Aprobar",
          message: "¿Está seguro de aprobar la solicitud?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          if(form.type_solicitud == 'prestamos') {
            form.date = this.$moment(form.date)
          }
          if(form.type_solicitud == 'anticipos') {
            form.date = this.$moment(form.date)
          }
          if(form.type_solicitud == 'permisos') {
            form.inicio = this.$moment(form.inicio)
            form.fin = this.$moment(form.fin)
          }
          if(form.type_solicitud == 'vacaciones') {
            form.start = this.$moment(form.start)
            form.end = this.$moment(form.end)
          }

          await this.$api.post("aprobaciones/aprobar", {
            data: form,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
            user: this.user,
          });
          await this.solicitudes();
          this.$socket.notify();
          this.$q.notify({
            message: "Solicitud aprobada",
            color: "positive",
          });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {});
    },
    rechazar(form) {
      this.$q
        .dialog({
          title: "Aprobar",
          message: "¿Está seguro de rechazar la solicitud?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          await this.$api.post("aprobaciones/rechazar", {
            data: form,
            user: this.user,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
          });
          await this.solicitudes();
          this.$socket.notify();
          this.$q.notify({
            message: "Solicitud rechazada",
            color: "negative",
          });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {});
    },
    downloadFile(file) {
      openURL(this.$env.storage + file);
    },
    // MOTIVOS DE PERMISOS
    async getMotivos() {
      const tipos_partos = [
        {
          label: "Normal",
          value: "Normal",
        },
        {
          label: "Cesárea",
          value: "Cesárea",
        },
        {
          label: "Prematuro",
          value: "Prematuro",
        },
        {
          label: "Adopción",
          value: "Adopción",
        },
      ];
      let medicos = [];
      let otros = [];
      await this.$api
        .post("permisos/motivos-permisos-medicos", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            medicos = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
          }
        });
      await this.$api
        .post("permisos/motivos-permisos-otros", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            otros = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
            otros.push({
              label: "Licencia sin sueldo",
              value: "lic_sin_sueldo",
            });
          }
        });

      this.options = [...tipos_partos, ...medicos, ...otros];
    },
  },
  async mounted() {
    await this.solicitudes();
    await this.getMotivos();
  },
};
</script>
